<!-- Lista de marcas -->
<template name="listaMarca">
	<div class="menu-negocios">
		<a class="button" href="/dashboard/{{id}}/registros/marcas/nuevo">Registrar marca</a>
	</div>

</template>

<!-- Lista de lineas de productos -->
<template name="listaLinea">
	<div class="menu-negocios">
		<a class="button" href="/dashboard/{{id}}/registros/linea/nuevo">Registrar linea</a>
	</div>
</template>

<!-- Lista de categoria de productos -->
<template name="listaCategoria">
	<div class="menu-negocios">
		<a class="button" href="/dashboard/{{id}}/registros/categoria/nuevo">Registrar categoria</a>
	</div>
</template>



<!-- Lista de presentacion -->
<template name="listaPresentacion">
	<div class="menu-negocios">
		<a class="button" href="/dashboard/{{id}}/registros/presentacion/nuevo">Registrar presentacion</a>
	</div>
</template>

<!-- Lista de servicios -->
<template name="listaServicio">
	<div class="menu-negocios">
		<a class="button" href="/dashboard/{{id}}/registros/servicio/nuevo">Registrar servicio</a>
	</div>
</template>

<!-- Lista de proveedores -->
<template name="listaProveedor">
	<div class="contenedor-negocios">
		<div class="set-lista-negocios">
			<div class="negocio item-negocio almacen-producto ingreso-presentacion">
				<span class="negocio-item" style="text-align: center;">Presentaciones</span>
			</div>
			<div class="negocio item-negocio ingreso-pago almacen-producto">
				<span class="negocio-item" style="text-align: center;">forma de pagos</span>
			</div>
			<div class="negocio  elegido item-negocio ingreso-proveedor almacen-producto">
				<span class="negocio-item" style="text-align: center;">Proveedores</span>
			</div>
			<div class="negocio item-negocio ingreso-almacen almacen-producto">
				<span class="negocio-item" style="text-align: center;">Almacenes</span>
			</div>
			<div class="negocio item-negocio ingreso-cliente almacen-producto">
				<span class="negocio-item" style="text-align: center;">Clientes</span>
			</div>
		</div>
	</div>

	<div class="cuadro-main">
		<div class="sub-menu">
			<div class="stock stock-elegido">
				<p>Lista de proveedores</p>
			</div>
			<div class="stock nuevo-proveedor">
				<p>Nuevo proveedor</p>
			</div>
		</div>

		{{>registroProveedor}}

		<table>
			<thead>
				<tr>
					<th><p>Proveedores</p></th>
					<th><p>Descripcion</p></th>
				</tr>
			</thead>
			<tbody>
				{{#each proveedores}}
				<tr class="tabla-hover">
					<td><p style="text-align: center;">{{nombre}}</p></td>
					<td><p style="text-align: center;">{{descripcion}}</p></td>
				</tr>
				{{/each}}

			</tbody>
		</table>
	</div>
</template>

<!-- Lista de clientes -->
<template name="listaCliente">
	<div class="contenedor-negocios">
		<div class="set-lista-negocios">
			<div class="negocio item-negocio almacen-producto ingreso-presentacion">
				<span class="negocio-item" style="text-align: center;">Presentaciones</span>
			</div>
			<div class="negocio item-negocio ingreso-pago almacen-producto">
				<span class="negocio-item" style="text-align: center;">forma de pagos</span>
			</div>
			<div class="negocio item-negocio ingreso-proveedor almacen-producto">
				<span class="negocio-item" style="text-align: center;">Proveedores</span>
			</div>
			<div class="negocio item-negocio ingreso-almacen almacen-producto">
				<span class="negocio-item" style="text-align: center;">Almacenes</span>
			</div>
			<div class="negocio item-negocio  elegido ingreso-cliente almacen-producto">
				<span class="negocio-item" style="text-align: center;">Clientes</span>
			</div>
		</div>
	</div>

	<div class="cuadro-main">
		<div class="sub-menu">
			<div class="stock stock-elegido">
				<p>Lista de clientes</p>
			</div>
			<div class="stock ingresar-carga">
				<p>Nuevo cliente</p>
			</div>
		</div>
		{{>registroCliente}}
		<table>
			<thead>
				<tr>
					<th><p>Nombre</p></th>
					<th><p>N. DNI/RUC</p></th>
					<th><p>Dirección</p></th>
					<th><p>Contacto</p></th>
					<th><p>Email</p></th>
					<th><p>Teléfono</p></th>
				</tr>
			</thead>
			<tbody>
			{{#each clientes}}
				<tr class="tabla-hover">
					<td><p style="text-align: center;">{{nombre}}</p></td>
					<td><p style="text-align: center;">{{ruc}}</p></td>
					<td><p style="text-align: center;">{{direccion}}</p></td>
					<td><p style="text-align: center;">{{contacto}}</p></td>
					<td><p style="text-align: center;">{{email}}</p></td>
					<td><p style="text-align: center;">{{telefono}}</p></td>
				</tr>
			{{/each}}
			</tbody>
		</table>
	</div>
</template>

<!-- Lista de formas de pago -->
<template name="listaFormasDePago">
	<div class="contenedor-negocios">
		<div class="set-lista-negocios">
			<div class="negocio item-negocio almacen-producto ingreso-presentacion">
				<span class="negocio-item" style="text-align: center;">Presentaciones</span>
			</div>
			<div class="negocio item-negocio  elegido ingreso-pago almacen-producto">
				<span class="negocio-item" style="text-align: center;">forma de pagos</span>
			</div>
			<div class="negocio item-negocio ingreso-proveedor almacen-producto">
				<span class="negocio-item" style="text-align: center;">Proveedores</span>
			</div>
			<div class="negocio item-negocio ingreso-almacen almacen-producto">
				<span class="negocio-item" style="text-align: center;">Almacenes</span>
			</div>
			<div class="negocio item-negocio ingreso-cliente almacen-producto">
				<span class="negocio-item" style="text-align: center;">Clientes</span>
			</div>
		</div>
	</div>

	<div class="cuadro-main">
		<div class="sub-menu">
			<div class="stock stock-elegido">
				<p>Lista de formas de pago</p>
			</div>
			<div class="stock ingresar-carga">
				<p>Nueva forma de pago</p>
			</div>
		</div>
		{{>registroFormasDePago}}
		<table>
			<thead>
				<tr>
					<th><p>Formas de pago</p></th>
					<th><p>Periodo</p></th>
					<th><p>Tipo</p></th>
				</tr>
			</thead>
			<tbody>
				{{#each forma}}
				<tr class="tabla-hover">
					<td><p style="text-align: center;">{{descripcion}}</p></td>
					<td><p style="text-align: center;">{{periodo}}</p></td>
					<td><p style="text-align: center;">{{tipo}}</p></td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</template>

<!-- Lista de cuentas bancarias -->
<template name="listaCuentasBancarias">
	<div class="contenedor-negocios">
		<div class="set-lista-negocios">
			<div class="negocio item-negocio almacen-producto ingreso-presentacion ">
				<span class="negocio-item" style="text-align: center;">Presentaciones</span>
			</div>
			<div class="negocio item-negocio ingreso-pago almacen-producto">
				<span class="negocio-item" style="text-align: center;">forma de pagos</span>
			</div>
			<div class="negocio item-negocio ingreso-proveedor almacen-producto">
				<span class="negocio-item" style="text-align: center;">Proveedores</span>
			</div>
			<div class="negocio item-negocio ingreso-almacen almacen-producto">
				<span class="negocio-item" style="text-align: center;">Almacenes</span>
			</div>
			<div class="negocio item-negocio ingreso-cliente almacen-producto">
				<span class="negocio-item" style="text-align: center;">Clientes</span>
			</div>
		</div>
	</div>

	<div class="cuadro-main">
		<div class="sub-menu">
			<div class="stock stock-elegido">
				<p>Lista de c. bancarias</p>
			</div>
			<div class="stock ingresar-carga">
				<p>Nueva c. bancaria</p>
			</div>
		</div>

		<table>
			<thead>
				<tr>
					<th><p style="margin-top: 10px; margin-bottom: 15px;">Cuentas Bancarias</p></th>
				</tr>
			</thead>
			<tbody>
				<tr class="tabla-hover">
					<td><p style="text-align: center;">Millar</p></td>
				</tr>
				<tr  class="tabla-hover">
					<td><p style="text-align: center;">Docena</p></td>
				</tr>
			</tbody>
		</table>

		<a class="button" href="/dashboard/{{id}}/registros/cuentas-bancarias/nuevo">Registrar una cuenta bancaria</a>
	</div>
</template>


<!-- Lista de Almacenes -->
<template name="listaAlmacenes">

	<div class="contenedor-negocios">
		<div class="set-lista-negocios">
			<div class="negocio item-negocio almacen-producto ingreso-presentacion ">
				<span class="negocio-item" style="text-align: center;">Presentaciones</span>
			</div>
			<div class="negocio item-negocio ingreso-pago almacen-producto">
				<span class="negocio-item" style="text-align: center;">forma de pagos</span>
			</div>
			<div class="negocio item-negocio ingreso-proveedor almacen-producto">
				<span class="negocio-item" style="text-align: center;">Proveedores</span>
			</div>
			<div class="negocio item-negocio elegido ingreso-almacen almacen-producto">
				<span class="negocio-item" style="text-align: center;">Almacenes</span>
			</div>
			<div class="negocio item-negocio ingreso-cliente almacen-producto">
				<span class="negocio-item" style="text-align: center;">Clientes</span>
			</div>
		</div>
	</div>

	<div class="cuadro-main">

		<div class="sub-menu">
			<div class="stock stock-elegido">
				<p>Lista de almacenes</p>
			</div>
			<div class="stock ingresar-carga">
				<p>Nuevo almacén</p>
			</div>
		</div>
		{{>registroAlmacen}}
		<table>
			<thead>
				<tr>
					<th><p>Almacenes</p></th>
					<th><p>Direccion</p></th>
				</tr>
			</thead>
			<tbody>
				{{#each almacen}}
				<tr class="tabla-hover">
					<td><p style="text-align: center;">{{nombre}}</p></td>
					<td><p style="text-align: center;">{{direccion}}</p></td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</template>

<!-- Lista de Ingresos -->
<template name="listaIngresos">
	<div class="menu-negocios">
		<a class="button" href="/dashboard/{{id}}/registros/almacenes/ingresos/nuevo">Registrar un ingreso</a>
	</div>
</template>


<!-- Main de almacen -->
<template name="Almacen">
	<div class="contenedor-negocios">
		<div class="set-lista-negocios">
			<div class="negocio item-negocio almacen-stock elegido">
				<span class="negocio-item" style="text-align: center;">Inventario</span>
			</div>
			<div class="negocio item-negocio almacen-ingreso">
				<span class="negocio-item" style="text-align: center;">Ingresos</span>
			</div>
			<div class="negocio item-negocio almacen-salida">
				<span class="negocio-item" style="text-align: center;">Salidas</span>
			</div>
			<div class="negocio item-negocio almacen-compra">
				<span class="negocio-item" style="text-align: center;">Compras</span>
			</div>
			<div class="negocio item-negocio almacen-producto">
				<span class="negocio-item" style="text-align: center;">Productos</span>
			</div>
		</div>
	</div>

	<div class="cuadro-main">
		<div class="sub-menu">
			<div class="stock stock-elegido">
				<p>Stock</p>
			</div>
			<div class="stock ingresar-carga">
				<p>Ingresar carga</p>
			</div>
			<div class="stock ingresar-merma">
				<p>Ingresar merma</p>
			</div>
			<div class="stock ingresar-inventario">
				<p>Ingresar inventario final</p>
			</div>
		</div>
		<div class="cuadro-reporte">

			<div class="container">

				<div class="row" style="text-align: center;">
					<div class="column">
						<div class="black-box">
								<h2>S/. {{gananciaTotal}}</h2>
								<p>VALOR TOTAL</p>
						</div>
					</div>
					<div class="column">
						<div class="black-box">
							<h2>S/. {{utilidadTotal}}</h2>
							<p>UTILIDAD TOTAL</p>
						</div>
					</div>
					<div class="column">
						<div class="black-box">
							<h2>S/. {{costoTotal}}</h2>
							<p>VALOR COSTO</p>
						</div>
					</div>
					<div class="column">
						<div class="black-box">
							<h2>{{cantidad}}</h2>
							<p>Productos</p>
						</div>
					</div>

				</div>
			</div>

		</div>

		<div class="buscador" style="height: 110px;">
				<h2>Buscar producto</h2>
				{{> EasySearch.Input index=productosIndex}}
		</div>

		{{#if Template.subscriptionsReady}}

		<table>
  			<thead>
    			<tr>
     		 		<th><p style="text-align: center; color: #606C76">CODIGÓ</p></th>
      				<th><p style="text-align: center; color: #606C76">NOMBRE</p></th>
      				<th><p style="text-align: center; color: #606C76">STOCK</p></th>
      				<th><p style="text-align: center; color: #606C76">P. COSTO (S/.)</p></th>
      				<th><p style="text-align: center; color: #606C76">TOTAL (S/.)</p></th>
      				<th><p style="text-align: center; color: #606C76">P. VENTA (S/.)</p></th>
      				<th><p style="text-align: center; color: #606C76">VALOR (S/.)</p></th>
      				<th><p style="text-align: center; color: #606C76">UTILIDAD (S/.)</p></th>

    			</tr>
  			</thead>
  			<tbody >

  				{{#EasySearch.Each index=productosIndex }}

					<tr class="tabla-hover">
						<td><p style="text-align: center;">{{codigo}}</p></td>
						<td><p style="text-align: center;">{{nombre}}</p></td>
						<td><p style="text-align: center; color: {{fuera stock}} ;">{{stock}}</p></td>
						<td><p style="text-align: center;">S/. {{pcosto}}</p></td>
						<td>
							<p style="text-align: center; color: {{fuera Costo}}">S/. {{Costo}}</p>
						</td>
						<td><p style="text-align: center;">S/. {{pventa}}</p></td>
						<td><p style="text-align: center; color: {{fuera Valor}}">S/. {{Valor}}</p></td>
						<td>
							<p style="text-align: center; color: {{fuera Utilidad}}">S/. {{Utilidad}}</p>
						</td>

					</tr>

  				{{/EasySearch.Each}}

				{{#EasySearch.IfSearching index=productosIndex}}
 					<div class="loading">
  						{{>loader}}
  					</div>
				{{/EasySearch.IfSearching}}



  			</tbody>
		</table>
		{{else}}
			<div class="loading" style="width: 150px;">
  					{{>loaderDos}}
  			</div>
		{{/if}}
	</div>



</template>


<!-- Main de ingresos al almacen -->
<template name="ingresosAlmacen">

	<div class="contenedor-negocios">
		<div class="set-lista-negocios">
			<div class="negocio item-negocio almacen-stock">
				<span class="negocio-item" style="text-align: center;">Inventario</span>
			</div>
			<div class="negocio item-negocio almacen-ingreso elegido">
				<span class="negocio-item" style="text-align: center;">Ingresos</span>
			</div>
			<div class="negocio item-negocio almacen-salida">
				<span class="negocio-item" style="text-align: center;">Salidas</span>
			</div>
			<div class="negocio item-negocio almacen-producto">
				<span class="negocio-item" style="text-align: center;">Productos</span>
			</div>
		</div>
	</div>




	<div class="menu-negocios">
		<div class="container">
			<div class="row almacen">
				<div class="column">
					<div class="wrap-almacen ingreso-masivo">
					<h2 class="ui icon header" id="set-almacen" style="font-size: 25px;">
  						<i class="tags icon" style="color: #33C3F0;"></i>
  						<div class="content" style="color: #33C3F0;">
    					Registra cargas masiva de productos
    					<div class="sub header" style="font-size: 16px;"> <strong>Administra tus cargas desde aquí.</strong></div>
  						</div>
					</h2>
					</div>
				</div>
				<div class="column">
					<div class="wrap-almacen ingreso-compra">
						<h2 class="ui icon header" id="set-almacen" style="font-size: 25px;">
  						<i class="shop icon" style="color: #33C3F0;"></i>
  						<div class="content" style="color: #33C3F0;">
    					Registra las Compras realizadas
    					<div class="sub header" style="font-size: 16px;"> <strong>Administra tus compras desde aquí.</strong></div>
  						</div>
						</h2>
					</div>
				</div>
			</div>
			<div class="row  almacen">
				<div class="column">
					<div class="wrap-almacen lista-masivo">
					<h2 class="ui icon header" id="set-almacen" style="font-size: 25px;">
  						<i class="server icon" style="color: #33C3F0;"></i>
  						<div class="content" style="color: #33C3F0;">
    					Administra las cargas ingresadas
    					<div class="sub header" style="font-size: 16px;"> <strong>Administra tus cargas desde aquí.</strong></div>
  						</div>
					</h2>
					</div>
				</div>
				<div class="column">
					<div class="wrap-almacen lista-compra">
						<h2 class="ui icon header" id="set-almacen" style="font-size: 25px;">
  						<i class="external icon" style="color: #33C3F0;"></i>
  						<div class="content" style="color: #33C3F0;">
    					Administra las compras realizadas
    					<div class="sub header" style="font-size: 16px;"> <strong>Administra tus compras desde aquí.</strong></div>
  						</div>
						</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>


<!-- Main de productos -->
<template name="listaProducto">
	<div class="contenedor-negocios">
		<div class="set-lista-negocios">
			<div class="negocio item-negocio almacen-stock">
				<span class="negocio-item" style="text-align: center;">Inventario</span>
			</div>
			<div class="negocio item-negocio almacen-ingreso">
				<span class="negocio-item" style="text-align: center;">Ingresos</span>
			</div>
			<div class="negocio item-negocio almacen-salida">
				<span class="negocio-item" style="text-align: center;">Salidas</span>
			</div>
			<div class="negocio item-negocio almacen-compra">
				<span class="negocio-item" style="text-align: center;">Compras</span>
			</div>
			<div class="negocio item-negocio almacen-producto  elegido">
				<span class="negocio-item" style="text-align: center;">Productos</span>
			</div>
		</div>
	</div>

	<div class="cuadro-main">
	<div class="sub-menu">
			<div class="stock stock-elegido">
				<p>Lista de prodcutos</p>
			</div>
			<div class="stock ingresar-carga">
				<p>Ingresar carga</p>
			</div>
		</div>
		{{>registrosProductos}}
	</div>
</template>

<!-- Main de Salidas -->
<template name="listaSalidas">

	<div class="contenedor-negocios">
		<div class="set-lista-negocios">
			<div class="negocio item-negocio almacen-stock">
				<span class="negocio-item" style="text-align: center;">Inventario</span>
			</div>
			<div class="negocio item-negocio almacen-ingreso">
				<span class="negocio-item" style="text-align: center;">Ingresos</span>
			</div>
			<div class="negocio item-negocio almacen-salida elegido">
				<span class="negocio-item" style="text-align: center;">Salidas</span>
			</div>
			<div class="negocio item-negocio almacen-compra">
				<span class="negocio-item" style="text-align: center;">Compras</span>
			</div>
			<div class="negocio item-negocio almacen-producto">
				<span class="negocio-item" style="text-align: center;">Productos</span>
			</div>
		</div>
	</div>

	<div class="cuadro-main">
		<div class="sub-menu">
			<div class="stock stock-elegido">
				<p>Lista de Merma</p>
			</div>
			<div class="stock ingreso-merma">
				<p>Ingresar merma</p>
			</div>
		</div>
		{{>listaMermas}}
	</div>
</template>

<!-- Lista de Mermas -->

<template name="listaMermas">
		{{#if Template.subscriptionsReady}}
			<table>
				<thead>
					<th style="color: #606C76;"><p style="margin-top: 10px; margin-bottom: 25px;">FECHA</p></th>
					<th style="color: #606C76;"><p style="margin-top: 10px; margin-bottom: 25px;">DESCRICIÓN</p></th>
					<th style="color: #606C76;"><p style="margin-top: 10px; margin-bottom: 25px;">PROVEEDOR</p></th>
					<th style="color: #606C76;"><p style="margin-top: 10px; margin-bottom: 25px;">TOTAL (S/.)</p></th>
					<th style="color: #606C76;"><p style="margin-top: 10px; margin-bottom: 25px;">DETALLE</p></th>
				</thead>
				<tbody>
					{{#each item}}
						<tr class="tabla-hover">
							<td style="text-align: center;">{{fechaSalida}}</td>
							<td style="text-align: center;">{{descripcion}}</td>
							<td style="text-align: center;">{{proveedor}}</td>
							<td style="text-align: center;">S/. {{total}}</td>
							<td style="text-align: center;">
								<button class="ver" id="boton-login">Ver</button>
							</td>
						</tr>

					{{/each}}
				</tbody>
			</table>
		{{else}}
			<div class="loading" style="width: 150px;">
  					{{>loaderDos}}
  			</div>
		{{/if}}
</template>



<!-- Main de ventas -->
<template name="Ventas">

		<div class="contenedor-negocios">
			<div class="set-lista-negocios">
				<div class="negocio item-negocio almacen-stock elegido">
					<span class="negocio-item" style="text-align: center;">Ventas</span>
				</div>
			</div>
		</div>



	<div class="cuadro-main">

		<div class="sub-menu">
			<div class="stock stock-elegido">
				<p>Lista de ventas</p>
			</div>
			<div class="stock nueva-venta">
				<p>nueva venta</p>
			</div>
		</div>
		{{>ListaVentas}}

	</div>
</template>

<!-- Registro de inventario final -->
<template name="nuevoInventarioFinal">

	<div class="contenedor-negocios">
		<div class="set-lista-negocios">
			<div class="negocio item-negocio almacen-stock elegido">
				<span class="negocio-item" style="text-align: center;">Inventario final</span>
			</div>
		</div>
	</div>

	<div class="cuadro-main">

		<div class="sub-menu">
			<div class="stock">
				<p>Lista de inventarios</p>
			</div>
			<div class="stock stock-elegido">
				<p>Nuevo inventario final</p>
			</div>
		</div>

		<div class="cuadro-reporte" >
			<div class="container">
				<div class="row">
					<div class="column" style="padding-left: 15px;">
						<h2 style="color: white;">Inventario final</h2>
					</div>
				</div>
				<div class="row">
					<div class="column" style="padding-left: 20px;">

						<input class="button-primary guardar" type="button" value="Guardar" name="guardar" id="boton-login">
						<input class="button-clear cancelar" type="button" value="Cancelar" name="cancelar" id="boton-login" style="color: white; margin-left: 30px;">

					</div>
				</div>
			</div>
		</div>
		{{>listaInventarioFinalItem}}
		{{>listaDeProductosInventarioFinal}}
	</div>
</template>

<template name="listaDeProductosInventarioFinal">
	<div class="buscador" style="padding-top: 15px; height: 125px;">

		<h2 style="color: white; margin-bottom: 0;">Buscar productos</h2>

		{{> EasySearch.Input index=productosIndex }}
	</div>
	{{#if Template.subscriptionsReady}}
	<table>
		<thead>
			<tr>
				<th style="color: #606C76;">CÓDIGO</th>
				<th style="color: #606C76;">PRODUCTO</th>
				<th style="color: #606C76;">P. COSTO (S/.)</th>
				<th style="color: #606C76;">CANTIDAD</th>
				<th style="color: #606C76;">AGREGAR</th>
			</tr>
		</thead>
		<tbody>
			{{#EasySearch.Each index=productosIndex }}
				<tr class="tabla-hover">
					<td >
					<p class="codigo">{{codigo}}</p>
					</td>
					<td >
					<p class="nombre">{{nombre}}</p>
					</td>
					<td>
					<p class="costo">S/. {{pcosto}}</p>
					</td>
					<td>
						<input type="number" name="cantidad" min="1" style="width: 110px; border-bottom: 2.5px solid #5E4AD7;">
					</td>
					<td>
						<button class="agregar" id="boton-login">Agregar</button>
					</td>
				</tr>
			{{/EasySearch.Each}}

			{{#EasySearch.IfSearching index=productosIndex}}
 					<div class="loading">
  						{{>loader}}
  					</div>
			{{/EasySearch.IfSearching}}


		</tbody>
	</table>
	{{else}}
		<div class="loading" style="width: 150px;">
  			{{>loaderDos}}
  		</div>
	{{/if}}
</template>

<template name="listaInventarioFinalItem">

			<table>
				<thead>
					<tr>
						<th style="color: #606C76;"><p>CÓDIGO</p></th>
						<th style="color: #606C76;"><p>PRODUCTO</p></th>
						<th style="color: #606C76;"><p>P. COSTO (S/.)</p></th>

						<th style="color: #606C76;"><p>CANTIDAD</p></th>
						<th style="color: #606C76;"><p>IMPORTE (S/.)</p></th>
						<th style="color: #606C76;"><p>ELIMINAR</p></th>
					</tr>
				</thead>
				<tbody>
					{{#each productos}}
					<tr>
						<td><p style="text-align: center;">{{codigo}}</p></td>
						<td><p style="text-align: center;">{{nombre}}</p></td>
						<td><p style="text-align: center;">S/. {{pcosto}}</p></td>

						<td><p style="text-align: center;">{{cantidad}}</p></td>
						<td><p style="text-align: center;">S/. {{importeReal}}</p></td>
						<td>
							<p>
								<button class="eliminar" id="boton-login">Eliminar</button>
							</p>
						</td>
					</tr>
					{{/each}}
				</tbody>
				<tfoot class="full-width">
    				<tr>
    				{{#each venta}}
						<th style="color: #606C76; padding-left: 27px;"><strong>TOTAL </strong>: S/. {{totalReal}}
      					</th>
      				{{else}}
      					<th style="color: #606C76;">
      						<strong>TOTAL </strong>: S/. 0
      					</th>
    				{{/each}}

      					<th></th>
      					<th></th>
      					<th></th>
      					<th></th>
      					<th></th>
      					<th></th>
    				</tr>
  				</tfoot>
			</table>
</template>

<!-- Fin de registro de inventario final -->


<!-- Main de POS-->
<template name="POS">
	<div class="cuadro-main">
			<p style="margin-left: 210px; font-size: 25px;">Administra tus ventas o realiza una desde aquí</p>
			<button style="margin-left: 390px;" class="nueva-venta">Nueva venta</button>
		{{>ListaVentas}}
	</div>
</template>

<template name="registrarVenta">

	<div class="contenedor-negocios">
			<div class="set-lista-negocios">
				<div class="negocio item-negocio almacen-stock elegido">
					<span class="negocio-item" style="text-align: center;">Ventas</span>
				</div>
			</div>
	</div>

	<div class="cuadro-main">

		<div class="sub-menu">
			<div class="stock">
				<p>Lista de ventas</p>
			</div>
			<div class="stock stock-elegido">
				<p>Nueva venta</p>
			</div>
		</div>

		<div class="cuadro-reporte" style="height: 185px;">
			<div class="container">
			<div class="row" id="formulario-proforma">
				<div class="column">
      				<label style="color: white;">Nombre del Cliente</label>
    				{{>listaClientes}}
				</div>
				<div class="column">
    				<label style="color: white;">Forma de pago</label>
    				{{>listaFormasPago}}
				</div>
			</div>
			<div class="row">
				<div class="column" style="padding-left: 20px;">

					<input class="button-primary guardar" type="button" value="Guardar" name="guardar" id="boton-login">
					<input class="button-clear cancelar" type="submit" value="Cancelar" name="cancelar" style="color: white; margin-left: 30px;">

					<!--<input class="button-primary facturar" type="button" value="Generar factura" name="factura" id="boton-login" style="margin-left: 30px;">

					<input class="button-primary boleta" type="button" value="Generar boleta" name="boleta" id="boton-login" style="margin-left: 30px;"> -->

				</div>
			</div>
			</div>

		</div>
		{{>listaVentaItem}}
		{{>listaDeProductoVenta}}
	</div>
</template>

<template name="generarBoletaModal">
    <div class="modal {{mostrar}}" id="facturaModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            	 <div class="modal-header">
          			<h4 class="modal-title">Generar Boleta</h4>
        		</div>

                <div class="modal-body">
                    <div class="container">

  						<form>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
      								<label for="cliente">Nombre del cliente</label>
      								<input type="text" name="cliente" class="form-control" placeholder="Escribe el nombre del cliente">
    						    </div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
      								<label for="direccion">Dirección del cliente</label>
      								<input type="text" name="direccion" class="form-control" placeholder="Escribe la dirección del cliente">
    							</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
      								<label for="emision">Fecha de emisión</label>
      								<input type="text" id="datepicker3" name="emision" class="form-control" placeholder="Ingrese la fecha de emisión">
    							</div>
							</div>
						</div>

						<div class="row">

							<div class="col-md-6">
								<div class="form-group">
      								<label for="numero">Número de boleta</label>
      								<input type="text" name="numero" class="form-control" placeholder="Ingrese el número de la boleta (opcional)">
    							</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
      								<label for="observaciones">Observaciones </label>
      								<input type="text" name="observaciones" class="form-control" placeholder="Opcional">
    							</div>
							</div>
						</div>

    					<button type="submit" id="boton-login" class="btn btn-default">Generar Boleta</button>

  						</form>
					</div>
                </div>

                <div class="modal-footer">
                    <button type="button" id="boton-login" class="btn btn-default cerrar-boleta" data-dismiss="modal" style="background-color: #7f8c8d; color: #ecf0f1;">Cancelar</button>
                </div>

            </div>
        </div>
    </div>
</template>

<template name="generarFacturaModal">
    <div class="modal {{mostrar}}" id="facturaModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            	 <div class="modal-header">
          			<h4 class="modal-title">Generar factura</h4>
        		</div>

                <div class="modal-body">
                    <div class="container">

  						<form>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
      								<label for="cliente">Nombre del cliente</label>
      								<input type="text" name="cliente" class="form-control" placeholder="Escribe el nombre del cliente">
    						    </div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
      								<label for="ruc">RUC del cliente</label>
      								<input type="text" name="ruc" class="form-control" placeholder="Escribe el RUC del cliente">
    							</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
      								<label for="emision">Fecha de emisión</label>
      								<input type="text" id="datepicker" name="emision" class="form-control" placeholder="Ingrese la fecha de emisión">
    							</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
      								<label for="vence">Fecha de vencimiento</label>
      								<input type="text" id="datepicker2" name="vence" class="form-control" placeholder="Opcional">
    							</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
      								<label for="numero">Número de factura</label>
      								<input type="text" name="numero" class="form-control" placeholder="Ingrese el número de la factura">
    							</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
      								<label for="observaciones">Observaciones </label>
      								<input type="text" name="observaciones" class="form-control" placeholder="Opcional">
    							</div>
							</div>
						</div>

    					<button type="submit" id="boton-login" name="factura" class="btn btn-default">Generar factura</button>

  						</form>
					</div>
                </div>

                <div class="modal-footer">
                    <button type="button" id="boton-login" class="btn btn-default cerrar" data-dismiss="modal" style="background-color: #7f8c8d; color: #ecf0f1;">Cancelar</button>
                </div>

            </div>
        </div>
    </div>
</template>

<template name="listaDeProductoVenta">
	<div class="buscador" style="padding-top: 13.5px;">

	</div>
	{{#if Template.subscriptionsReady}}
	<table>
		<thead>
			<tr>
				<th style="color: #606C76;">CÓDIGO</th>
				<th style="color: #606C76;">PRODUCTO</th>
				<th style="color: #606C76;">PRECIO (S/.)</th>
				<th style="color: #606C76;">DSCTO. (S/.)</th>
				<th style="color: #606C76;">CANTIDAD</th>
				<th style="color: #606C76;">AGREGAR</th>
			</tr>
		</thead>
		<tbody>
			{{#each productos}}
				<tr class="tabla-hover">
					<td >
					<p class="codigo" style="margin-left: 55px;">{{codigo}}</p>
					</td>
					<td >
					<p class="nombre" style="margin-left: 55px;">{{nombre}}</p>
					</td>
					<td>
					<p class="costo" style="margin-left: 55px;">S/. {{pventa}}</p>
					</td>
					<td>
						<input type="number" step="0.10" min="0" name="descuento" style="width: 110px; border-bottom: 2.5px solid #5E4AD7;">
					</td>
					<td>
						<input type="number" name="cantidad" min="1" style="width: 110px; border-bottom: 2.5px solid #5E4AD7;">
					</td>
					<td>
						<button class="agregar" id="boton-login">Agregar</button>
					</td>
				</tr>
			{{else}}
				{{>loaderDos}}
			{{/each}}




		</tbody>
	</table>
	{{else}}
		<div class="loading" style="width: 150px;">
  			{{>loaderDos}}
  		</div>
	{{/if}}
</template>

<template name="listaVentaItem">
			<table>
				<thead>
					<tr>
						<th style="color: #606C76;"><p>CÓDIGO</p></th>
						<th style="color: #606C76;"><p>PRODUCTO</p></th>
						<th style="color: #606C76;"><p>PRECIO (S/.)</p></th>
						<th style="color: #606C76;"><p>DSCTO (S/.)</p></th>
						<th style="color: #606C76;"><p>CANTIDAD</p></th>
						<th style="color: #606C76;"><p>IMPORTE (S/.)</p></th>
						<th style="color: #606C76;"><p>ELIMINAR</p></th>
					</tr>
				</thead>
				<tbody>
					{{#each productos}}
					<tr>
						<td><p style="text-align: center;">{{codigo}}</p></td>
						<td><p style="text-align: center;">{{nombre}}</p></td>
						<td><p style="text-align: center;">S/. {{pventa}}</p></td>
						<td><p style="text-align: center;">S/. {{descuento}}</p></td>
						<td><p style="text-align: center;">{{cantidad}}</p></td>
						<td><p style="text-align: center;">S/. {{importeReal}}</p></td>
						<td>
							<p>
								<button class="eliminar" id="boton-login">Eliminar</button>
							</p>
						</td>
					</tr>
					{{/each}}
				</tbody>
				<tfoot class="full-width">
    				<tr>
    				{{#each venta}}
						<th style="color: #606C76; padding-left: 27px;"><strong>TOTAL (S/.)  </strong>: {{totalReal}}
      					</th>
      				{{else}}
      					<th style="color: #606C76;">
      						<strong>TOTAL (S/.)</strong>: S/. 0
      					</th>
    				{{/each}}

      					<th></th>
      					<th></th>
      					<th></th>
      					<th></th>
      					<th></th>
      					<th></th>
    				</tr>
  				</tfoot>
			</table>
</template>

<template name="ListaVentas">
			<table>
				<thead>
					<tr>
						<th style="color: #606C76;"><p>FECHA</p></th>
						<th style="color: #606C76;"><p>F. PAGO</p></th>
						<th style="color: #606C76;"><p>TOTAL (S/.)</p></th>
						<th style="color: #606C76;"><p>DETALLE</p></th>
					</tr>
				</thead>
				<tbody>
					{{#each ventas}}
						<tr>
							<td><p style="text-align: center;">{{fechaVenta}}</p></td>
							<td><p style="text-align: center;">{{formaPago}}</p></td>
							<td><p style="text-align: center;">S/. {{totalReal}}</p></td>
							<td>
								<p style="text-align: center;">
									<button class="ver" id="boton-login">Ver</button>
								</p>
							</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
</template>

<template name="detalleVenta">

	<div class="contenedor-negocios">
		<div class="set-lista-negocios">
			<div class="negocio item-negocio almacen-stock">
				<span class="negocio-item" style="text-align: center;">Ventas</span>
			</div>
		</div>
	</div>
	<div class="cuadro-main">

		<div class="sub-menu">
			<div class="stock lista">
				<p>Lista de ventas</p>
			</div>
			<div class="stock stock-elegido">
				<p>Detalle de venta</p>
			</div>
			<div class="stock  nueva-venta">
				<p>Nueva venta</p>
			</div>
		</div>

		<div class="cuadro-reporte">

				<div class="container">

				<div class="row">
					<div class="column">
						<h2 style="color: white; width: 80%; margin: 20px auto; text-align: center; font-weight: 300; text-transform: uppercase;">Detalle de venta</h2>
					</div>
				</div>
				{{#each venta}}
				<div class="row" style="text-align: center; height: 150px;">
					<div class="column">
						<div class="black-box">
								<h2>S/. {{totalReal}}</h2>
								<p>IMPORTE (S/.)</p>
						</div>
					</div>
					<div class="column">
						<div class="black-box">
							<h2>{{fechaVenta}}</h2>
							<p>Fecha</p>
						</div>
					</div>
					<div class="column">
						<div class="black-box">
							<h2>{{cliente}}</h2>
							<p>Clientes</p>
						</div>
					</div>
					<div class="column">
						<div class="black-box">
							<h2>{{formaPago}}</h2>
							<p>F. Pago</p>
						</div>

					</div>
				</div>
				{{/each}}
				<!--<div class="row">
					<div class="column column-50" style="text-align: center;">
						<input class="button-primary facturar" type="button" value="Generar factura" name="factura" id="boton-login" >
					</div>
					<div class="column column-50" style="text-align: center;">
						<input class="button-primary boleta" type="button" value="Generar boleta" name="factura" id="boton-login">
					</div>
				</div>-->
			</div>
		</div>


				<table>
					<thead>
						<th  style="color: #606C76;"><p>CÓDIGO</p></th>
						<th  style="color: #606C76;"><p>PRODUCTO</p></th>
						<th  style="color: #606C76;"><p>CANTIDAD</p></th>
						<th  style="color: #606C76;"><p>PRECIO (S/.)</p></th>
						<th  style="color: #606C76;"><p>DSCTO. (S/.)</p></th>
						<th  style="color: #606C76;"><p>IMPORTE (S/.)</p></th>
					</thead>
					<tbody>
						{{#each ventaitem}}
						<tr class="tabla-hover">
							<td><p style="text-align: center;">{{codigo}}</p></td>
							<td><p style="text-align: center;">{{nombre}}</p></td>
							<td><p style="text-align: center;">{{cantidad}}</p></td>
							<td><p style="text-align: center;">S/. {{pventa}}</p></td>
							<td><p style="text-align: center;">S/. {{descuento}}</p></td>
							<td><p style="text-align: center;">S/. {{importe}}</p></td>
						</tr>
						{{/each}}
					</tbody>
				</table>
	</div>
</template>



<!-- Main de Finanzas -->
<template name="Finanzas">

		<div class="contenedor-negocios">
		<div class="set-lista-negocios">
			<div class="negocio item-negocio almacen-stock elegido">
				<span class="negocio-item" style="text-align: center;">Inventario</span>
			</div>
			<div class="negocio item-negocio almacen-ingreso">
				<span class="negocio-item" style="text-align: center;">Ingresos</span>
			</div>
			<div class="negocio item-negocio almacen-salida">
				<span class="negocio-item" style="text-align: center;">Salidas</span>
			</div>
			<div class="negocio item-negocio almacen-producto">
				<span class="negocio-item" style="text-align: center;">Compras</span>
			</div>
			<div class="negocio item-negocio almacen-producto">
				<span class="negocio-item" style="text-align: center;">Productos</span>
			</div>
		</div>
	</div>



	<div class="menu-negocios">
		<div class="container">
			<div class="row almacen">
				<div class="column">
					<div class="wrap-almacen">
						<h2 class="ui icon header" id="set-almacen" style="font-size: 25px;">
  						<i class="suitcase icon" style="color: #33C3F0;"></i>
  						<div class="content" style="color: #33C3F0;">
    					Configuración de Boletas
    					<div class="sub header" style="font-size: 16px;"> <strong>Administra tus boletas desde aquí.</strong></div>
  						</div>
						</h2>
					</div>
				</div>
				<div class="column">
					<div class="wrap-almacen">
					<h2 class="ui icon header" id="set-almacen" style="font-size: 25px;">
  						<i class="book icon" style="color: #33C3F0;"></i>
  						<div class="content" style="color: #33C3F0;">
    					Configuración de Facturas
    					<div class="sub header" style="font-size: 16px;"> <strong>Administra tus facturas desde aquí.</strong></div>
  						</div>
					</h2>
					</div>
				</div>
			</div>
			<div class="row almacen">
				<div class="column">
					<div class="wrap-almacen">
						<h2 class="ui icon header" id="set-almacen" style="font-size: 25px;">
  						<i class="money icon" style="color: #33C3F0;"></i>
  						<div class="content" style="color: #33C3F0;">
    					Configuración de Pagos
    					<div class="sub header" style="font-size: 16px;"> <strong>Administra todos tus pagos desde aquí .</strong></div>
  						</div>
						</h2>
					</div>
				</div>
				<div class="column">
					<div class="wrap-almacen">
						<h2 class="ui icon header" id="set-almacen" style="font-size: 25px;">
  						<i class="road icon" style="color: #33C3F0;"></i>
  						<div class="content" style="color: #33C3F0;">
    					Configuración de Cuentas
    					<div class="sub header" style="font-size: 16px;"> <strong>Administra tus cuentas bancarias desde aquí .</strong></div>
  						</div>
						</h2>
					</div>


				</div>
			</div>
			<div class="row almacen">
				<div class="column">
					<div class="wrap-almacen">
						<h2 class="ui icon header" id="set-almacen" style="font-size: 25px;">
  						<i class="calculator icon" style="color: #33C3F0;"></i>
  						<div class="content" style="color: #33C3F0;">
    					Configuración de Cobros
    					<div class="sub header" style="font-size: 16px;"> <strong>Administra tus cobros desde aquí .</strong></div>
  						</div>
						</h2>
					</div>
				</div>
				<div class="column">

				</div>
			</div>
		</div>
	</div>
</template>


<!-- Main de Consultas -->
<template name="Consultas">


		<div class="contenedor-negocios">
		<div class="set-lista-negocios">
			<div class="negocio item-negocio almacen-stock elegido">
				<span class="negocio-item" style="text-align: center;">Inventario</span>
			</div>
			<div class="negocio item-negocio almacen-ingreso">
				<span class="negocio-item" style="text-align: center;">Ingresos</span>
			</div>
			<div class="negocio item-negocio almacen-salida">
				<span class="negocio-item" style="text-align: center;">Salidas</span>
			</div>
			<div class="negocio item-negocio almacen-producto">
				<span class="negocio-item" style="text-align: center;">Compras</span>
			</div>
			<div class="negocio item-negocio almacen-producto">
				<span class="negocio-item" style="text-align: center;">Productos</span>
			</div>
		</div>
	</div>



	<div class="menu-negocios">
		<div class="container">
			<div class="row almacen">
				<div class="column">
					<div class="wrap-almacen">
						<h2 class="ui icon header" id="set-almacen" style="font-size: 25px;">
  						<i class="chevron circle right icon" style="color: #33C3F0;"></i>
  						<div class="content" style="color: #33C3F0;">
    					Consulta de Ventas
    					<div class="sub header" style="font-size: 16px;"> <strong>Consulta todas tus ventas desde aquí.</strong></div>
  						</div>
						</h2>
					</div>
				</div>
				<div class="column">
					<div class="wrap-almacen">
					<h2 class="ui icon header" id="set-almacen" style="font-size: 25px;">
  						<i class="chevron circle left icon" style="color: #33C3F0;"></i>
  						<div class="content" style="color: #33C3F0;">
    					Consulta de Compras
    					<div class="sub header" style="font-size: 16px;"> <strong>Consulta todas tus compras desde aquí.</strong></div>
  						</div>
					</h2>
					</div>
				</div>
			</div>
			<div class="row almacen">
				<div class="column">
					<div class="wrap-almacen">
						<h2 class="ui icon header" id="set-almacen" style="font-size: 25px;">
  						<i class="cube icon" style="color: #33C3F0;"></i>
  						<div class="content" style="color: #33C3F0;">
    					Reporte de Utilidad
    					<div class="sub header" style="font-size: 16px;"> <strong>Consulta las utilidades desde aquí.</strong></div>
  						</div>
						</h2>
					</div>
				</div>

			</div>
		</div>
	</div>
</template>


<!-- Main de Configuracion -->
<template name="Configuracion">

		<div class="contenedor-negocios">
		<div class="set-lista-negocios">
			<div class="negocio item-negocio almacen-stock elegido">
				<span class="negocio-item" style="text-align: center;">Inventario</span>
			</div>
			<div class="negocio item-negocio almacen-ingreso">
				<span class="negocio-item" style="text-align: center;">Ingresos</span>
			</div>
			<div class="negocio item-negocio almacen-salida">
				<span class="negocio-item" style="text-align: center;">Salidas</span>
			</div>
			<div class="negocio item-negocio almacen-producto">
				<span class="negocio-item" style="text-align: center;">Compras</span>
			</div>
			<div class="negocio item-negocio almacen-producto">
				<span class="negocio-item" style="text-align: center;">Productos</span>
			</div>
		</div>
	</div>


	<div class="menu-negocios">
		<div class="container">
			<div class="row almacen">
				<div class="column">
					<div class="wrap-almacen">
						<h2 class="ui icon header" id="set-almacen" style="font-size: 25px;">
  						<i class="user icon" style="color: #33C3F0;"></i>
  						<div class="content" style="color: #33C3F0;">
    					Configuración de Cuenta
    					<div class="sub header" style="font-size: 16px;"> <strong>Administra tu cuenta desde aquí.</strong></div>
  						</div>
						</h2>
					</div>
				</div>
				<div class="column">
					<div class="wrap-almacen">
					<h2 class="ui icon header" id="set-almacen" style="font-size: 25px;">
  						<i class="users icon" style="color: #33C3F0;"></i>
  						<div class="content" style="color: #33C3F0;">
    					Configuración de Usuarios
    					<div class="sub header" style="font-size: 16px;"> <strong>Administra tus usuarios desde aquí.</strong></div>
  						</div>
					</h2>
					</div>
				</div>
			</div>
			<div class="row almacen">
				<div class="column">
					<div class="wrap-almacen">
						<h2 class="ui icon header" id="set-almacen" style="font-size: 25px;">
  						<i class="building icon" style="color: #33C3F0;"></i>
  						<div class="content" style="color: #33C3F0;">
    					Configuración de Empresa
    					<div class="sub header" style="font-size: 16px;"> <strong>Administra tu empresa desde aquí.</strong></div>
  						</div>
						</h2>
					</div>
				</div>

			</div>
		</div>
	</div>
</template>

<template name="listaCargasMasivo">

	<div class="contenedor-negocios">
		<div class="set-lista-negocios">
			<div class="negocio item-negocio almacen-stock">
				<span class="negocio-item" style="text-align: center;">Inventario</span>
			</div>
			<div class="negocio item-negocio almacen-ingreso elegido">
				<span class="negocio-item" style="text-align: center;">Ingresos</span>
			</div>
			<div class="negocio item-negocio almacen-salida">
				<span class="negocio-item" style="text-align: center;">Salidas</span>
			</div>
			<div class="negocio item-negocio almacen-compra">
				<span class="negocio-item" style="text-align: center;">Compras</span>
			</div>
			<div class="negocio item-negocio almacen-producto">
				<span class="negocio-item" style="text-align: center;">Productos</span>
			</div>
		</div>
	</div>

	<div class="cuadro-main">

		<div class="sub-menu">
			<div class="stock ingresar-stock">
				<p>Stock</p>
			</div>
			<div class="stock stock-elegido">
				<p>Lista de ingresos</p>
			</div>
			<div class="stock ingresar-carga">
				<p>Ingresar carga</p>
			</div>
			<div class="stock ingresar-merma">
				<p>Ingresar merma</p>
			</div>
		</div>

			<table>
				<thead>
					<th style="color: #606C76;"><p style="margin-left: 10px; margin-bottom: 20px;">FECHA</p></th>
					<th style="color: #606C76;"><p style="margin-left: 10px; margin-bottom: 20px;">ALMACÉN</p></th>
					<th style="color: #606C76;"><p style="margin-left: 10px; margin-bottom: 20px;">PROVEEDOR</p></th>
					<th style="color: #606C76;"><p style="margin-left: 10px; margin-bottom: 20px;">F. PAGO</p></th>
					<th style="color: #606C76;"><p style="margin-left: 10px; margin-bottom: 20px;">TOTAL (S/.)</p></th>
					<th style="color: #606C76;"><p style="margin-left: 10px; margin-bottom: 20px;">DETALLE</p></th>
				</thead>
				<tbody>
					{{#each item}}
						<tr class="tabla-hover">
							<td style="padding-bottom: 0px;"><p style="text-align: center;">{{fechaAlmacenado}}</p></td>
							<td style="padding-bottom: 0px;"><p style="text-align: center;">{{almacen}}</p></td>
							<td style="padding-bottom: 0px;"><p style="text-align: center;">{{proveedor}}</p></td>
							<td style="padding-bottom: 0px;"><p style="text-align: center;">{{formaPago}}</p></td>
							<td style="padding-bottom: 0px;"><p style="text-align: center;">S/. {{totalreal}}</p></td>
							<td style="padding-bottom: 0px;">
								<p style="text-align: center;">
									<button class="ver" id="boton-login">Ver</button>
								</p>
							</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
	</div>
</template>

<template name="detalleCarga">

	<div class="contenedor-negocios">
		<div class="set-lista-negocios">
			<div class="negocio item-negocio almacen-stock">
				<span class="negocio-item" style="text-align: center;">Inventario</span>
			</div>
			<div class="negocio item-negocio almacen-ingreso">
				<span class="negocio-item" style="text-align: center;">Ingresos</span>
			</div>
			<div class="negocio item-negocio almacen-salida elegido">
				<span class="negocio-item" style="text-align: center;">Salidas</span>
			</div>
			<div class="negocio item-negocio almacen-producto">
				<span class="negocio-item" style="text-align: center;">Compras</span>
			</div>
			<div class="negocio item-negocio almacen-producto">
				<span class="negocio-item" style="text-align: center;">Productos</span>
			</div>
		</div>
	</div>

	<div class="cuadro-main">

		<div class="sub-menu">
			<div class="stock ingreso-stock">
				<p>Stock</p>
			</div>
			<div class="stock lista">
				<p>Lista de ingresos</p>
			</div>
			<div class="stock stock-elegido">
				<p>Detalle de carga</p>
			</div>
			<div class="stock ingreso-compra">
				<p>Ingresar carga</p>
			</div>
		</div>
		<div class="cuadro-reporte">

				<div class="container">

				<div class="row">
					<div class="column">
						<h2 style="color: white; width: 80%; margin: 20px auto; text-align: center; font-weight: 300; text-transform: uppercase;">Detalle de ingreso de carga</h2>
					</div>
				</div>
				{{#each carga}}
				<div class="row" style="text-align: center; height: 150px;">
					<div class="column">
						<div class="black-box">
								<h2>S/. {{totalreal}}</h2>
								<p>Monto total (S/.)</p>
						</div>
					</div>
					<div class="column">
						<div class="black-box">
							<h2>{{almacen}}</h2>
							<p>Almacén</p>
						</div>
					</div>
					<div class="column">
						<div class="black-box">
							<h2>{{fechaIngreso}}</h2>
							<p>Fecha</p>
						</div>
					</div>
					<div class="column">
						<div class="black-box">
							<h2>S/. {{utilidadtotal}}</h2>
							<p>Utilidad por Carga</p>
						</div>

					</div>
					{{#if hayProveedor}}
						<div class="column">
							<div class="black-box">
								<h2>{{proveedor}}</h2>
								<p>Proveedor</p>
							</div>

						</div>
					{{/if}}
				</div>
				{{/each}}
			</div>

		</div>

				<table>
					<thead>
						<th  style="color: #606C76;"><p style="margin-top: 10px; margin-bottom: 19px;">CÓDIGO</p></th>
						<th  style="color: #606C76;"><p style="margin-top: 10px; margin-bottom: 19px;">PRODUCTO</p></th>
						<th  style="color: #606C76;"><p style="margin-top: 10px; margin-bottom: 19px;">CANTIDAD</p></th>
						<th  style="color: #606C76;"><p style="margin-top: 10px; margin-bottom: 19px;">COSTO (S/.)</p></th>
						<th  style="color: #606C76;"><p style="margin-top: 10px; margin-bottom: 19px;">IMPORTE (S/.)</p></th>
						<th  style="color: #606C76;"><p style="margin-top: 10px; margin-bottom: 19px;">UTILIDAD (S/.)</p></th>
						<th  style="color: #606C76;"><p style="margin-top: 10px; margin-bottom: 19px;">VALOR (S/.)</p></th>
					</thead>
					<tbody>
						{{#each cargaitem}}
						<tr class="tabla-hover">
							<td><p style="margin-bottom: 6px; text-align: center;">{{codigo}}</p></td>
							<td><p style="margin-bottom: 6px; text-align: center;">{{nombre}}</p></td>
							<td><p style="margin-bottom: 6px; text-align: center;">{{cantidad}} {{medida}}</p></td>
							<td><p style="margin-bottom: 6px; text-align: center;">S/. {{pcosto}}</p></td>
							<td><p style="margin-bottom: 6px; text-align: center;">S/. {{importereal}}</p></td>
							<td><p style="margin-bottom: 6px; text-align: center;">S/. {{valorUtilidadreal}}</p></td>
							<td><p style="margin-bottom: 6px; text-align: center;">S/. {{valorreal}}</p></td>
						</tr>

						{{/each}}
					</tbody>
				</table>

	</div>
</template>

<template name="registrosProductos">
			<table>
				<thead>
					<th style="color: #606C76;"><p style="margin-top: 10px; margin-bottom: 20px;">CÓDIGO</p></th>
					<th style="color: #606C76;"><p style="margin-top: 10px; margin-bottom: 20px;">NOMBRE</p></th>
					<th style="color: #606C76;"><p style="margin-top: 10px; margin-bottom: 20px;">P. COSTO (S/.)</p></th>
					<th style="color: #606C76;"><p style="margin-top: 10px; margin-bottom: 20px;">P. VENTA (S/.)</p></th>
					<th style="color: #606C76;"><p style="margin-top: 10px; margin-bottom: 20px;">UTILIDAD (S/.)</p></th>

				</thead>
				<tbody>
					{{#each item}}
						<tr>
							<td style="padding-bottom: 0;"><p style="text-align: center;">{{codigo}}</p></td>
							<td style="padding-bottom: 0;"><p style="text-align: center;">{{nombre}}</p></td>
							<td style="padding-bottom: 0;"><p style="text-align: center;">S/. {{pcosto}}</p></td>
							<td style="padding-bottom: 0;"><p style="text-align: center;">S/. {{pventa}}</p></td>
							<td style="padding-bottom: 0;"><p style="text-align: center;">S/. {{utilidadReal}}</p></td>

						</tr>
					{{/each}}
				</tbody>
			</table>
</template>

<!-- Lista de stock -->
<template name="listaStock">
	<div class="menu-negocios">
		<div class="container" style="margin-top: 30px;">
			<h1 style="color: #33C3F0;">Stock.</h1>
			<table class="ui basic table">
				<thead>
					<th style="color: #606C76;">CÓDIGO</th>
					<th style="color: #606C76;">NOMBRE</th>
					<th style="color: #606C76;">STOCK</th>
					<th style="color: #606C76;">P. COSTO (S/.)</th>
					<th style="color: #606C76;">P. VENTA (S/.)</th>
					<th style="color: #606C76;">VALOR (S/.)</th>
					<th style="color: #606C76;">V. UTILIDAD (S/.)</th>
					<th style="color: #606C76;">V. TOTAL (S/.)</th>

				</thead>
				<tbody>
					{{#each item}}
						<tr>
							<td>{{codigo}}</td>
							<td>{{nombre}}</td>
							<td>{{stock}}</td>
							<td>S/. {{pcosto}}</td>
							<td>S/. {{pventa}}</td>
							<td>S/. {{valor}}</td>
							<td>S/. {{valorUtilidad}}</td>
							<td>S/. {{valorCosto}}</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</template>


<template name="detalleMerma">

	<div class="contenedor-negocios">
		<div class="set-lista-negocios">
			<div class="negocio item-negocio almacen-stock">
				<span class="negocio-item" style="text-align: center;">Inventario</span>
			</div>
			<div class="negocio item-negocio almacen-ingreso">
				<span class="negocio-item" style="text-align: center;">Ingresos</span>
			</div>
			<div class="negocio item-negocio almacen-salida elegido">
				<span class="negocio-item" style="text-align: center;">Salidas</span>
			</div>
			<div class="negocio item-negocio almacen-producto">
				<span class="negocio-item" style="text-align: center;">Compras</span>
			</div>
			<div class="negocio item-negocio almacen-producto">
				<span class="negocio-item" style="text-align: center;">Productos</span>
			</div>
		</div>
	</div>

	<div class="cuadro-main">

		<div class="sub-menu">
			<div class="stock lista">
				<p>Lista de Merma</p>
			</div>
			<div class="stock stock-elegido">
				<p>Detalle de Merma</p>
			</div>
			<div class="stock ingreso-merma">
				<p>Ingresar merma</p>
			</div>
		</div>

		<div class="cuadro-reporte">

			<div class="container">

				<div class="row">
					<div class="column">
						<h2 style="color: white; width: 80%; margin: 20px auto; text-align: center; font-weight: 300; text-transform: uppercase;">Detalle de ingreso de Merma</h2>
					</div>
				</div>
				{{#each merma}}
				<div class="row" style="text-align: center; height: 100px;">
					<div class="column">
						<div class="black-box">
								<h2>S/. {{total}}</h2>
								<p>Monto total (S/.)</p>
						</div>
					</div>
					<div class="column">
						<div class="black-box">
							<h2>{{fechaSalida}}</h2>
							<p>Fecha de salida</p>
						</div>
					</div>
					<div class="column">
						<div class="black-box">
							<h2>{{proveedor}}</h2>
							<p>Proveedor</p>
						</div>
					</div>
					{{#if descripcion}}
					<div class="column">
						<div class="black-box">
							<h2>{{descripcion}}</h2>
							<p>Descripción</p>
						</div>
					</div>
					{{/if}}
				</div>
				{{/each}}
			</div>
		</div>

				<table>
					<thead>
						<th  style="color: #606C76;"><p style="margin-bottom: 15px; margin-top: 10px;">CÓDIGO</p></th>
						<th  style="color: #606C76;"><p style="margin-bottom: 15px; margin-top: 10px;">PRODUCTO</p></th>
						<th  style="color: #606C76;"><p style="margin-bottom: 15px; margin-top: 10px;">CANTIDAD</p></th>
						<th  style="color: #606C76;"><p style="margin-bottom: 15px; margin-top: 10px;">COSTO (S/.)</p></th>
						<th  style="color: #606C76;"><p style="margin-bottom: 15px; margin-top: 10px;">IMPORTE (S/.)</p></th>
					</thead>
					<tbody>
						{{#each mermaitem}}
						<tr class="tabla-hover">
							<td style="text-align: center;"><p style="text-align: center;">{{codigo}}</p></td>
							<td style="text-align: center;"><p style="text-align: center;">{{producto}}</p></td>
							<td style="text-align: center;"><p style="text-align: center;">{{cantidad}}</p></td>
							<td style="text-align: center;"><p style="text-align: center;">S/. {{pcosto}}</p></td>
							<td style="text-align: center;"><p style="text-align: center;">S/. {{importe}}</p></td>
						</tr>
						{{else}}
							<tr>Sin salidas...</tr>
						{{/each}}
					</tbody>
				</table>

	</div>
</template>
