<template name="menuPrincipal">
	<div class="menu">
		<ul class="menu-main">
			<li class="menu-item i-1"><a href="" class="menu-a"><i class="align left icon" style="color: white;"></i> REPORTES</a></li>
			<li class="menu-item i-2"><a href="" class="menu-a"><i class="shipping icon" style="color: white;"></i> Almacén</a></li>
			<li class="menu-item i-3"><a href="" class="menu-a"><i class="shop icon" style="color: white;"></i> Ventas</a></li>
			
			<li class="menu-item i-6"><a class="menu-a"><i class="laptop icon" style="color: white;"></i> Registros</a></li>
			
		</ul>
		
		{{>logout}}
	</div>
</template>