<template name="menuPrincipal">

</template>

<template name="ConfiguracionNegocio">
	<div class="cuadro-main">
		<div class="container" style="margin-top: 80px;">
			<div class="row">
				<div class="col-md-12">
					<h1>Configura los datos de tu empresa</h1>
					<form>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
      								<label for="empresa">Nombre de la empresa</label>
      								<input type="text" value="{{nombre}}" name="empresa" class="form-control">
    						    </div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
      								<label for="ruc">RUC de la empresa</label>
      								<input type="text" value="{{ruc}}" name="ruc" class="form-control">
    							</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
      								<label for="direccion">Dirección</label>
      								<input type="text" value="{{direccion}}" name="direccion" class="form-control">
    							</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
      								<label for="provincia">Provincia</label>
      								<input type="text" value="{{provincia}}" name="provincia" class="form-control">
    							</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
      								<label for="departamento">Departamento</label>
      								<input type="text" value="{{departamento}}" name="departamento" class="form-control">
    							</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
      								<label for="codigo">Código de facturación</label>
      								<input type="text" value="{{codigo}}" name="codigo" class="form-control">
    							</div>
							</div>
						</div>

    					<button type="submit" id="boton-login" class="btn btn-default"> Guardar cambios</button>

  						</form>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<h1>Agregar Usuario</h1>
					<form action="/action_page.php">
					  <div class="form-group">
					    <label for="email">Email:</label>
					    <input type="email" class="form-control" name="email-user" id="email">
					  </div>
					  <div class="form-group">
					    <label for="pwd">Contraseña:</label>
					    <input type="password" class="form-control" name="password-user" id="pwd">
					  </div>

						<div class="form-group">
					    <label for="email">Nombre:</label>
					    <input type="text" class="form-control" name="nombre" id="email">
					  </div>
					  <div class="form-group">
					    <label for="pwd">Apellido:</label>
					    <input type="text" class="form-control" name="apellido" id="pwd">
					  </div>

						<div class="form-group">
							<select id="tipo">
								<option value="1">Administrador</option>
								<option value="2">Ventas</option>
								<option value="3">Almacen</option>
								<option value="4">Contabilidad</option>
							</select>
						</div>

					  <button type="button" class="btn btn-default agregar-usuario">Agregar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</template>
