<template name="menuPrincipal">
	<div class="menu">
		<ul class="menu-main">
			<li class="menu-item i-1"><a href="" class="menu-a"><i class="align left icon"></i> REPORTES</a></li>
			<li class="menu-item i-2"><a href="" class="menu-a"><i class="shipping icon"></i> Almacén</a></li>
			<li class="menu-item i-3"><a href="" class="menu-a"><i class="shop icon"></i> Ventas</a></li>
			
			<li class="menu-item i-6"><a class="menu-a"><i class="laptop icon"></i> Registros</a></li>
			
		</ul>
		
		<div class="boton-logout logout">
			<p><i class="fa fa-sign-out"></i> CERRAR SESIÓN</p>
		</div>
	</div>
</template>