<template name="registroNegocios">
	<div class="contenedor-negocios">
	</div>

	<div class="cuadro-main">
	<br>
			<div class="bienvenido">
				<img src="/presentacion.png" alt="Bienvenido" galleryimg="no">
				<div class="bienvenido-instrucciones">
					
					<h1>Crea una empresa</h1>
				
					<blockquote>
  						<p><em>La mejor manera de empezar algo es dejar de hablar de ello y empezar a hacerlo. <strong>Walt Disney.</strong></em></p>
					</blockquote>

					<div class="row">
			<div class="column">
				<form>
  					<fieldset>
   						<label>Nombre de la empresa</label>
    					<input type="text" placeholder="Escribe el nombre de la empresa" name="empresa">
    					<label>Descripcion de la empresa</label>
    					<input type="text" placeholder="Escribe una breve descripción" name="descripcion">
    					<input class="button-primary boton-formulario" type="submit" id="boton-login" value="¡LISTO!">
  					</fieldset>
				</form>
			</div>
		</div>

				</div>
			</div>
	</div>

	
</template>