<template name="reportes">
	{{>menuPrincipal}}



	<div class="contenedor-negocios">
		<div class="set-lista-negocios">
			<div class="negocio item-negocio elegido">
				<span class="negocio-item" style="text-align: center;">Reportes</span>
			</div>	
			<div class="negocio item-negocio ingreso-ventas">
				<span class="negocio-item" style="text-align: center;">Ventas</span>
			</div>	
			<div class="negocio item-negocio ingreso-carga">
				<span class="negocio-item" style="text-align: center;">Ingresos</span>
			</div>	
		</div>
	</div>


	<div class="cuadro-main">

		<div class="sub-menu">
			<div class="stock stock-elegido">
				<p>Reporte de Hoy</p>
			</div>
			<div class="stock ingresar-carga">
				<p>Ingresar carga</p>
			</div>
			<div class="stock ingresar-merma">
				<p>Ingresar merma</p>
			</div>
			<div class="stock ingresar-inventario">
				<p>Ingresar inventario final</p>
			</div>
		</div>
		
		{{>reporteDiario}}

		<table>
			<thead>
				<tr>
					<th><p style="margin-left: 9px; color: #606C76">DÍA</p></th>
      				<th><p style="margin-left: 9px; color: #606C76">VENTAS (S/.)</p></th>
      				<th><p style="margin-left: 9px; color: #606C76">COMPRAS (S/.)</p></th>
      				<th><p style="margin-left: 9px; color: #606C76">MERMA (S/.)</p></th>
      				<th><p style="margin-left: 9px; color: #606C76">COSTOS (S/.)</p></th>
      				<th><p style="margin-left: 9px; color: #606C76">UTILIDAD (S/.)</p></th>
				</tr>
			</thead>
			<tbody>
				{{#each todosreportes }}
				<tr class="tabla-hover">
						<td><p style="margin-left: 20px;">{{fechaAux}}</p></td>
						<td><p style="margin-left: 20px;">S/. {{venta}}</p></td>
						<td><p style="margin-left: 20px;">S/. {{compra}}</p></td>
						<td><p style="margin-left: 20px;">S/. {{merma}}</p></td>
						<td><p style="margin-left: 20px;">S/. {{costo}}</p></td>
						<td><p style="margin-left: 20px;">S/. {{utilidad}}</p></td>
				</tr>
				{{/each}}
			</tbody>
		</table>
		<input class="button-primary boton-formulario" type="button" value="Cargar más" name="mas" id="boton-login" style="width: 90%; margin: 0 auto; margin-bottom: 20px;">
	</div>


	
</template>

<template name="reporteDiario">
	<div class="cuadro-reporte" style="padding-bottom: 10px;">
		<div class="container">
		
		<div class="row">
			
		<div class="column column-50">
			<div class="row">
				<div class="column column-50" style="text-align: center">
					<span class="turquesa reporte-texto-span"></span>
					<h2 class="reporte-texto">
						Ventas
					</h2>
				</div>
				<div class="column column-50" style="text-align: center">
					<span class="azul reporte-texto-span"></span>
					<h2 class="reporte-texto">
						Costos
					</h2>				
				</div>
			</div>
			<div class="row">
				<div class="column" style="text-align: center;">
					<canvas id="reporte"></canvas>
				</div>
			</div>
		</div>

		<div class="column column-50">
			<div class="row">
				
				<div class="column column-50" style="text-align: center">
					<span class="verde reporte-texto-span"></span>
					<h2 class="reporte-texto">
						Merma
					</h2>				
				</div>
				
				<div class="column column-50" style="text-align: center">
					<span class="turquesa reporte-texto-span"></span>
					<h2 class="reporte-texto">
						Ventas
					</h2>
				</div>

			</div>
			
			<div class="row">
				<div class="column" style="text-align: center;">
					<canvas id="reporteVM"></canvas>
				</div>
			</div>

		</div>
			
		</div>
	
		<div class="row">
			<div class="column column-50">
				<div class="row">
					<div class="column column-50" style="text-align: center">
						<span class="naranja reporte-texto-span"></span>
						<h2 class="reporte-texto">
							Utilidades
						</h2>
					</div>
					<div class="column column-50" style="text-align: center">
						<span class="azul reporte-texto-span"></span>
						<h2 class="reporte-texto">
							Costos
						</h2>				
					</div>
				</div>
				<div class="row">
					<div class="column" style="text-align: center;">
						<canvas id="reporteUC"></canvas>
					</div>
				</div>
			</div>
			<div class="column column-50">
				<div class="row">
					<h2 style="color: white; width: 80%; font-size: 18px; margin: 10px auto; text-align: center;">Stock de productos</h2>
				</div>
				<div class="row">
					<div class="column" style="text-align: center">
						<canvas id="reporteP"></canvas>
					</div>
				</div>
			</div>
		</div>

		</div>	
	</div>
	

	{{#if Template.subscriptionsReady}}

	{{#with reportes}}
	<div class="cuadro-reporte">

			<div class="container">

				<div class="row">
					<div class="column">
						<h2 style="color: white; width: 80%; margin: 20px auto; text-align: center; font-weight: 300; text-transform: uppercase;">Datos de hoy</h2>
					</div>
				</div>
				
				<div class="row" style="text-align: center;">
					<div class="column">
						<div class="black-box">
								<h2>S/. {{utilidad}}</h2>		
								<p>Utilidad total</p>
						</div>		
					</div>
					<div class="column">
						<div class="black-box">
							<h2>S/. {{venta}}</h2>
							<p>Total de ventas</p>
						</div>
					</div>
					<div class="column">
						<div class="black-box">
							<h2>S/. {{costo}}</h2>
							<p>Total de costos</p>
						</div>
					</div>
					<div class="column">
						<div class="black-box">
							<h2>S/. {{merma}}</h2>
							<p>Valor en merma</p>
						</div>
					</div>
					<div class="column">
						<div class="black-box">
							<h2>S/. {{compra}}</h2>
							<p>Total de compras</p>
						</div>
						
					</div>
				</div>
			</div>			

			
		</div>
	{{/with}}

	{{else}}
	
	<div class="cuadro-reporte">

			<div class="container">
				
				<div class="row" style="text-align: center;">
					<div class="column">
						<div class="black-box">
								<h2>S/. {{>loader}}</h2>		
								<p>Utilidad total</p>
						</div>		
					</div>
					<div class="column">
						<div class="black-box">
							<h2>S/. {{>loader}}</h2>
							<p>Total de ventas</p>
						</div>
					</div>
					<div class="column">
						<div class="black-box">
							<h2>S/. {{>loader}}</h2>
							<p>Total de costos</p>
						</div>
					</div>
					<div class="column">
						<div class="black-box">
							<h2>S/. {{>loader}}</h2>
							<p>Valor en merma</p>
						</div>
					</div>
					<div class="column">
						<div class="black-box">
							<h2>S/. {{>loader}}</h2>
							<p>Total de compras</p>
						</div>
						
					</div>
				</div>
			</div>			

			
		</div>

	{{/if}}
</template>