<template name="topbar">
	<img src="/logo-opcional2.png" alt="BUNQR" style="margin-top: 18.5px; margin-left: 30px;">
	<span style="position: absolute; left: 160px; top: 32.5px; font-size: 12px; color: black;">&reg;</span>
	
	<div class="my">
		<p style="margin-top: 10px;"><a href="/dashboard" style="color: #606C76;">Dashboard</a></p>
	</div>
	
	<div class="saludo float-right">
		{{#with nombre}}
		<h5 style="text-transform: capitalize;">Hola, {{profile.nombre}}</h5>
		{{/with}}
	</div>
</template>