<template name="topbar">

	<button type="button" name="button" id="open" style="position: absolute; top: 10px; left: 20px;">
		<i class="fa fa-bars" aria-hidden="true"></i>
	</button>

	<div style="
		margin-top: 10px;
    width: 100%;
		text-align: center;
    height: 70px;
    color: black;">
		<a href="/dashboard" style="color: #606C76; font-size: 2.5rem" class="font-principal">{{currentUser.profile.empresa}}</a>
	</div>

	<div class="menu">
		<ul class="menu-main">
		{{#if isInRole 'administrador'}}
			<li class="menu-item i-1">
				<i class="fa fa-tachometer" aria-hidden="true" style="display: inline-block; margin-right: 5px;"></i>
				<a href="" class="menu-a">

					Reportes
				</a>
			</li>
			<li class="menu-item i-2">
				<i class="fa fa-cubes" aria-hidden="true" style="display: inline-block; margin-right: 5px;"></i>
				<a href="" class="menu-a">

					Almacén
				</a>
			</li>
			<li class="menu-item i-3">
				<i class="fa fa-credit-card" aria-hidden="true" style="display:inline-block;margin-right: 5px;"></i>
				<a href="" class="menu-a">
					Ventas
				</a>
			</li>

			<li class="menu-item i-6">
				<i class="fa fa-folder" aria-hidden="true" style="display: inline-block; margin-right: 5px;"></i>
				<a class="menu-a">

					Registros
				</a>
			</li>

			<li class="menu-item i-8">
				<i class="fa fa-cog" aria-hidden="true" style="display: inline-block; margin-right: 5px;"></i>
				<a class="menu-a">
					Configuración
				</a>
			</li>
		{{/if}}

		{{#if isInRole 'ventas'}}
		<li class="menu-item i-1">
			<i class="fa fa-tachometer" aria-hidden="true" style="display: inline-block; margin-right: 5px;"></i>
			<a href="" class="menu-a">

				Reportes
			</a>
		</li>

		<li class="menu-item i-3">
				<i class="fa fa-credit-card" aria-hidden="true" style="display:inline-block;margin-right: 5px;"></i>
				<a href="" class="menu-a">
					Ventas
				</a>
		</li>
		{{/if}}

		{{#if isInRole 'almacen'}}
		<li class="menu-item i-1">
			<i class="fa fa-tachometer" aria-hidden="true" style="display: inline-block; margin-right: 5px;"></i>
			<a href="" class="menu-a">
				Reportes
			</a>
		</li>
		<li class="menu-item i-2">
			<i class="fa fa-cubes" aria-hidden="true" style="display: inline-block; margin-right: 5px;"></i>
			<a href="" class="menu-a">

				Almacén
			</a>
		</li>
		{{/if}}

		{{#if isInRole 'contabilidad'}}
		<li class="menu-item i-1">
			<i class="fa fa-tachometer" aria-hidden="true" style="display: inline-block; margin-right: 5px;"></i>
			<a href="" class="menu-a">

				Reportes
			</a>
		</li>
		<li class="menu-item i-2">
			<i class="fa fa-cubes" aria-hidden="true" style="display: inline-block; margin-right: 5px;"></i>
			<a href="" class="menu-a">

				Almacén
			</a>
		</li>
		<li class="menu-item i-3">
			<i class="fa fa-credit-card" aria-hidden="true" style="display:inline-block;margin-right: 5px;"></i>
			<a href="" class="menu-a">
				Ventas
			</a>
		</li>
		{{/if}}
		</ul>

		{{>logout}}
	</div>



</template>
