@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);
@import url(https://fonts.googleapis.com/css?family=Open%20Sans:300,400,500,600,700);

body {
	margin: 0;
	
	background-color: white;
}


::-moz-selection {
	color: white;
	background-color: #606C76;
}

::selection {
	color: white;
	background-color: #606C76; 
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {

    -webkit-text-fill-color: #818181 !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 

}

/* Handle */
::-webkit-scrollbar-thumb {

    /*background: rgba(255,0,0,0.8); */
    background-color: #34495e;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
}
::-webkit-scrollbar-thumb:window-inactive {
	/*background: rgba(255,0,0,0.4); */
	background-color: #34495e;
}

.logo {
	position: fixed;
	left: 14px;
	top: -7px;
	height: 102px;
	width: 162px;
	
}

.logo-login {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100px;
	height: 60px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.contenedor {
	/* Set rules to fill background */
  	min-height: 100%;
  	min-width: 1024px;
	
  	/* Set up proportionate scaling */
  	width: 100%;
  	height: auto;
	
  	/* Set up positioning */
  	position: fixed;
  	top: 0;
  	left: 0;

	background: url('fn3.jpg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  .contenedor {
    left: 50%;
    margin-left: -512px;   
  }
}


.cuadro-top {
	position: fixed;
	left: 0px;
	top: -2px;
	width: 200px;
	height: 62px;
	background-color: #00ABDB;
}

.menu {
	position: fixed;
	top: 65px;
	bottom: 0px;
	left: 0px;
	
	background-color: #1D2B3A;
	width: 179.5px;
	max-height: 100%;
	height: 100%;
	box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 7px, rgba(0, 0, 0, 0.2) 0px 3px 7px;
	padding: 0;
}

.menu ul {
	list-style: none;
}

.menu-main {
	margin-left: 0px;
	padding-left: 11px;
}

.menu-item {
	margin-bottom: 0px;
	padding: 5px;
	width: 179px;
	
	-webkit-transition: background-color 0.4s ease-out;
    -moz-transition: background-color 0.4s ease-out;
    -o-transition: background-color 0.4s ease-out;
    transition: background-color 0.4s ease-out;

    transition-property: border;
	transition-duration: 0.2s;
}

.menu li {
	margin-left: -10.5px;
	padding-left: 16px;
	display: inline-block;
	height: 55px;
	padding-top: 14px;
}

li.menu-item:hover {
	background-color: #10222A;
	cursor: pointer;
	color: white !important;

	border-left: 3px solid #5E4AD7;
}

.menu-item-elegido {
	background-color: #10222A;
	cursor: pointer;
	color: white;
	border-left: 3px solid #5E4AD7;	
}

.menu-a: {
	display: block;
	font-size: 20px;
	font-weight: 700;
	margin-left: 25px;
	padding-left: 25px;
	
}

.menu a {
	font-family: 'Arimo', sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #657D90;
	text-transform: uppercase;
	padding-left: 5px;
}

.menu a:hover {
	color: white;
}

.menu li:hover {
	color: white;
}

.contenido {
	width: 100%;
	height: 100%;
	position: absolute;
	
}

.center {
	margin: 0 auto;
}


.topbar {
	position: fixed;
	top: 0px;
	background-color: white;
	height: 65px;
	width: 100%;
	color: white;
	box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 7px, rgba(0, 0, 0, 0.2) 0px 3px 7px;
	z-index: 2;
}

.foot {
	position: relative;
	top: 352px;
	bottom: 0px;
	width: 100%;
	height: 65px;
	background-color: #F7F7F7;
}

.config-button-1 {
	position: absolute;
	top: 20px;
	right: 262px;
}

.config-button-2 {
	position: absolute;
	top: 20px;
	right: 166px;
}

.config-button-3 {
	position: absolute;
	top: 20px;
	right: 69px;
}

.titulo-dash {
	position: absolute;
	top: 10px;
	left: 250px;
	color: #33C3F0;
}


.button-small {
  font-size: .8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
  background-color: #9B4DCA;
  border: #00CF8D;
  margin-top: 2px;
}

.button-outline {
	margin-top: 2px;
	border: 1px solid #9B4DCA;
}



.cuadro {
	position: relative;
	top: -29px;
}

.cuadro-2 {
	width: 80%;
}

.formulario {
	width: 200px;
}

.formulario:hover {
	border: 2.5px solid #33C3F0;
	
}

.formulario:focus {
	border: 2.5px solid #33C3F0;
}

.boton-formulario {
	width: 100%;
}

.menu-negocios {
	margin-top: 75px;
	margin-left: 250px;
	max-width: 1000px;
	display: flex;
	min-height: 550px;
	background-color: white;
	border-radius: 4px;
	margin-bottom: 35px;
	padding-bottom: 70px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	flex-wrap: wrap;
}

.centrar {
	margin-top: 75px;
	margin-left: 235px;
	color: #9B4DCA;
	font-size: 70px;
}

.centrar-texto {
	width: 400px;
	height: 50px;
	text-align: center;
	margin-left: 277px;
	padding: 0;
}

.centrar-boton {
	margin-left: 392.5px;
}

.set-item {
	width: 700px;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	margin-left: 145px;
	margin-top: 70px; 
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.item {
	text-align: center;
	
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	
	min-width: 400px;
	width: 100%;
	padding: 15px;
	padding-bottom: 0px;
	
}



.negocio-titulo {
	margin-top: 20px;
	margin-left: 300px;
	color: #33C3F0;
}

input {
	color: #3AC5F0;
}

#lista-icono {
	position: relative;
	left: 155px;
	top: 0px;
	height: 30%;
	border: 3px solid #3AC5F0; 
	border-radius: 18%;
	background-color: #3AC5F0;
	color: white;
	padding: 10px;
}


.item-lista {
	text-align: left;
	position: relative;
	left: 210px;
}

#login > fieldset {
	margin-bottom: 0px;
}

.set-login {
	margin: 0 auto;
	margin-top: 100px;
	width: 32.5%;
	min-height: 335px;
	max-height: 585px;
	padding: 0px;
	padding-top: 20px;
	padding-bottom: 15px;
	background: #1F2E3D;
	border-radius: 5.5px;
	box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 7px, rgba(0, 0, 0, 0.2) 0px 3px 7px;
}


.set-singup {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 32.5%;
	min-height: 335px;
	max-height: 585px;
	padding: 0px;
	padding-bottom: 15px;
	padding-top: 20px;
	background: #1F2E3D;
	border-radius: 5.5px;
	box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 7px, rgba(0, 0, 0, 0.2) 0px 3px 7px;
}

.ingresa {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	color: #33C3F0;
	
	font-family: 'Arimo', sans-serif;
}

.registro-none {
	margin: 0px auto;
	width: 90%;
	text-align: center;
	font-size: 13px;
	color: #E6E7E9;
	font-family: 'Arimo', sans-serif;
}

.brand {
	position: absolute;
	top: 80px;
	left: 150px;
}

#boton-login {
	background-color: #5E4AD7;
	border: none;
	cursor: pointer;
    -webkit-transition: background-color 0.3s ease-out;
    -moz-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
	font-family: 'Arimo', sans-serif;
}

#boton-login:hover {
	box-shadow: 0 2px 0 0 rgba(0,0,0,.1);
	background-color: #3BC492;
}



#input-login {
	border-bottom: 2px solid #E0E0E0;
	border-right: none;
	border-left: none;
	border-top: none;
	border-radius: 0px;
	color: #E6E7E9;
	font-size: 13.4px;
	-webkit-transition: border-color 0.3s ease-out;
    -moz-transition: border-color 0.3s ease-out;
    -o-transition: border-color 0.3s ease-out;
    transition: border-color 0.3s ease-out;
}

#input-login:hover {
		border-color: #3F51B5;
		box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
		box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

#input-login:focus {
		border-color: #3F51B5;
		box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
		box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

#formulario-proforma {
	max-height: 275px;
	margin-top: 10px;
	padding: 10px;
	
	background: #20272F;
	border-radius: 3px;
	
}

.seleccion {
	color: white;
}
.selection option {
	color: blue;
}

select option {
    background: #1C222E;
    border: 0.5px solid #5E4AD7;
    border-radius: 3px;
    color: white;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	margin: 10px;
}

.crear {
	margin-top: 10px;
	margin-left: 400px;
}

#set-almacen {
	padding-left: 20px;
}

.almacen {
	margin-top: 60px;
}

.wrap-almacen {
	border: 1px solid #33C3F0;
	border-radius: 4px;
	box-shadow: 0 2px 0 0 rgba(0,0,0,.1);
	padding: 20px;
	max-width: 400px;
	max-height: 205px;
	margin-left: 50px;
}

.column {
	flex-wrap: wrap;
}

.wrap-almacen:hover {
	cursor: pointer;
}

/*POS con Flexbox*/
div.set-productos {
	display: flex;

}

.contenedor-negocios {
	width: 100%;
	height: 99px;
	background-color: #5E4AD7;        

	margin-top: 59px;
	border: none;
	z-index: -2;
	/*box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 7px, rgba(0, 0, 0, 0.2) 0px 3px 7px;*/
	
	
}

table {
	/*padding-top: 21.5px;*/
	-webkit-box-shadow: inset 0px 1px 5px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 1px 5px -1px rgba(0,0,0,0.75);
	box-shadow: inset 0px 1px 5px -1px rgba(0,0,0,0.75);
}

th>p {
	margin-top: 30px;
	margin-left: 25px;
	text-align: center;
}

.contenedor-logo {
	position: absolute;
	left: 0;
	top: 0;
	width: 200px;
	height: 61px;
	background-color: #1D2B3A;
}

.logo-main {
	position: absolute;
	left: 35px;
	top: 15px;
}

.set-lista-negocios {
	display: flex;
	max-width: 1100px;
	margin-left: 195px;
	justify-content: center;

}

.negocio {
	border-left: 1px solid #3E318F;
	border-radius: 20px;
	background-color: #3E318F;
	max-width: 230px;
	height: 40px;
	margin-left: 20px;
	margin-top: 35px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	flex-direction: row;
	flex-wrap: wrap;
	box-shadow: 0 2px 0 0 rgba(0,0,0,.1);
}

.negocio:hover {
	cursor: pointer;
	-webkit-box-shadow: inset 0px 1px 5px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 1px 5px -1px rgba(0,0,0,0.75);
	box-shadow: inset 0px 1px 5px -1px rgba(0,0,0,0.75);
}

.elegido {
	-webkit-box-shadow: inset 0px 1px 5px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 1px 5px -1px rgba(0,0,0,0.75);
	box-shadow: inset 0px 1px 5px -1px rgba(0,0,0,0.75);	
}

.negocio-mas {
	border: 1px dashed #8076FD;
	box-shadow: 0 2px 0 0 rgba(0,0,0,.1);
	border-radius: 100px;
	background-color: #8076FD;
	width: 45px;
	height: 45px;
	margin-left: 30px;
	margin-top: 76px;
	flex-direction: row;
	flex-wrap: wrap;

	-webkit-transition: background-color 0.3s ease-out;
    -moz-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}

.negocio-mas-nuevo {
	border: 1px dashed #8076FD;
	box-shadow: 0 2px 0 0 rgba(0,0,0,.1);
	border-radius: 100px;
	background-color: #8076FD;
	width: 28px;
	height: 28px;
	margin-left: 115px;
	margin-top: -26.5px;
	flex-direction: row;
	flex-wrap: wrap;
}

.negocio-mas:hover {
	box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 7px, rgba(0, 0, 0, 0.2) 0px 3px 7px;
	cursor: pointer;
	background-color: #8A81FD;
}


.negocio-item {
	font-size: 10px;
	font-weight: bold;
	font-family: 'Arimo', sans-serif; 
	text-transform: uppercase;
	color: #8A81FD;
}

.hola {
	margin-top: 23.5px;
	font-size: 13px;
	font-weight: bold;
	font-family: 'Arimo', sans-serif; 
	text-transform: uppercase;	
}

div.cuadro-main {
	
	margin-top: 0px;
	display: flex;
	margin-left: 170.5px;
	background-color: white;
	min-height: 507.5px;
	z-index: -2;
	flex-direction: column;

	box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 7px, rgba(0, 0, 0, 0.2) 0px 3px 7px;
}

div.opcion-main {
	max-width: 90%;
	min-width: 100px;
	width: 90%;
	height: 160px;
	border-radius: 4px;
	background-color: white;
	
	margin-left: 50px;
	margin-top: 30px;
	margin-right: 30px;
	box-shadow: 0 2px 0 0 rgba(0,0,0,.1);
}

div.opcion-main:hover {
	box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 7px, rgba(0, 0, 0, 0.2) 0px 3px 7px;
}

#config-icon:hover {
	cursor: pointer;
	color: #1D2B3A;
}

.titulo-negocio {
	position: relative;
	top: -25px;
	left: 60px;
	color: #1D2B3A;
	font-family: 'Arimo', sans-serif;
	font-size: 18px;
	font-weight: bold;

}

.descripcion-negocio {
	font-family: 'Arimo', sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #757575;
	text-transform: uppercase;
}

.utilidad-negocio {
	margin-top: -132px;
	margin-left: 600px;
}

.utilidad-negocio p {
	color: #757575;
	font-size: 18px;
	text-transform: uppercase;
}

.my {
	
	width: 500px;
	margin: 0 auto;
	height: 50px;
	color: black;
	font-family: 'Arimo', sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: -38.5px;
}

.my p {
	width: 300px;
	margin-left: 100px;
	margin-right: 100px;
	text-align: center;
}

.my a {
	text-align: center;
}

.reporte-main {
	
	height: 300px;
	margin-top: -2px;
	margin-left: -2px;
	border: 3px solid #2A3342; 
	background-color: #2A3342;
}

.sub-menu {
	width: 100%;
	height: 45px;
	background-color: #00D4D5;
	display: flex;
}

.stock {
	width: 50%;
	margin: 0px;
	padding: 12.5px;
	

	-webkit-transition: background-color 0.4s ease-out;
    -moz-transition: background-color 0.4s ease-out;
    -o-transition: background-color 0.4s ease-out;
    transition: background-color 0.4s ease-out;
	
	-webkit-box-shadow: inset 0px 1px 5px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 1px 5px -1px rgba(0,0,0,0.75);
	box-shadow: inset 0px 1px 5px -1px rgba(0,0,0,0.75);
}

.stock:hover {
	cursor: pointer;
	
	background-color: #00AEDA;
	border-bottom: none;
}

.stock-elegido {
	background-color: #3BC492;
	border-bottom: none;
}

.stock p {
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-family: 'Arimo', sans-serif;
	font-size: 12px;
	font-weight: bold;
} 

.boton-logout {
	width: 140px;
	height: 30px;
	margin-left: 17px;
	background-color: #00D4D5;
	
	border-radius: 20px;
	padding-top: 6px;
	margin-top: 150px;

	-webkit-transition: background-color 0.4s ease-out;
    -moz-transition: background-color 0.4s ease-out;
    -o-transition: background-color 0.4s ease-out;
    transition: background-color 0.4s ease-out;
}

.boton-logout:hover {
	cursor: pointer;
	background-color: #5E4AD7;
}

.boton-logout p {
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-family: 'Arimo', sans-serif;
	font-size: 11px;
	font-weight: bold;
}

.cuadro-reporte {
	height: 250px;
	background-color: #20272F;
	display: flex;
	flex-direction: row;
	/*-webkit-box-shadow: inset 0px 1px 5px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 1px 5px -1px rgba(0,0,0,0.75);
	box-shadow: inset 0px 1px 5px -1px rgba(0,0,0,0.75);*/
}
.dia {
	height: 60px;
	background-color: #20272F;
	margin-bottom: -50.5px;
	display: flex;
	justify-content: center;
	padding-top: 20px;
	z-index: 1;
	margin-left: 9.5px;
}

.saludo {
	position: relative;
	top: -47.5px;
	right: 35px;
	z-index: 2;
}

.saludo h5 {
	font-family: 'Arimo', sans-serif;
	font-size: 18px;
	font-weight: bold;
		
	color: #20272F;

	-webkit-transition: color 0.4s ease-out;
    -moz-transition: color 0.4s ease-out;
    -o-transition: color 0.4s ease-out;
    transition: color 0.4s ease-out;
}

.saludo h5:hover {
	color: #5E4AD7;
	cursor: pointer;
}

.dia h1 {
	margin: 0 auto;
	text-transform: uppercase;
	font-family: 'Arimo', sans-serif;
	
	-webkit-transition: color 0.4s ease-out;
    -moz-transition: color 0.4s ease-out;
    -o-transition: color 0.4s ease-out;
    transition: color 0.4s ease-out;
}

.dia h1:hover {
	color: white;
	cursor: pointer;
}

.cuadro-reporte-2 {
	height: 260px;
	background-color: #20272F;
	padding-top: 15px;
	display: flex;
	margin-top: -27.5px;
	flex-direction: row;
	-webkit-box-shadow: inset 0px 1px 5px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 1px 5px -1px rgba(0,0,0,0.75);
	box-shadow: inset 0px 1px 5px -1px rgba(0,0,0,0.75);
}

.cuadro-total {
	max-width: 620px;
	min-width: 95px;
	width: 375px;
	height: 150px;
	margin-top: 50px;
	margin-left: 19px;
	
	background-color: #20272F;
}

.cuadro-valores	{
	
	width: 650px;
	height: 150px;
	margin-top: 50px;
	margin-right: 50px;
	background-color: #20272F;
	display: flex;
	flex-direction: row;

}

.valor {
	margin-left: 15px;
	margin-right: 5px;
	margin-top: 50px;
	max-width: 175px;
	width: 165px;
}

.valor-total-item {
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-family: 'Arimo', sans-serif;
	font-size: 28.5px;
	font-weight: italic;
}

.line {
	margin-top: 15px;
	margin-left: 20px;
	width: 2.5px;
	border: 0.5px solid #00D4D5;
	border-radius: 1px;
	height: 130px;
	background-color: #00D4D5;
}

#input-elegido {
	border-right: none;
	border-top: none;
	border-left: none;
	border-bottom: 2.5 solid #5E4AD7;
}

.valor-line {
	margin-top: 55px;
	margin-left: 5px;
	width: 2.5px;
	border: 0.5px solid #5E4AD7;
	border-radius: 1px;
	height: 40px;
	background-color: #5E4AD7;
}

.valor-total {
	width: 300px;
	height: 30px;
	margin-top: -110px;
	margin-left: -10px;
	margin-bottom: 15px;
}

.valor-total p {
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-family: 'Arimo', sans-serif;
	font-size: 40px;
	font-weight: bold;
	
}

.texto {
	margin-top: -17.5px;
	margin-left: 60px;
	font-family: 'Arimo', sans-serif;
	font-weight: bold;
}

.valor-texto {
	margin-top: -17.5px;
	margin-left: 10px;
	font-family: 'Arimo', sans-serif;
	font-weight: bold;	
	font-size: 14px;
}

.descripcion-total {
	font-size: 10px;
	width: 200px;
	height: 40px;
}

.loader{
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

svg path,
svg rect{
  fill: #5E4AD7;
}

.loading {
	margin-top: 100px;
	margin-left: 500px;
}

.buscador {
	background-color: #20272F;
	margin-top: 0px;
	padding-left: 100px;
	padding-right: 100px;
	height: 65px;
}


#container404 {
	position: relative;
	left: 355px;
	top: 28px; 
	max-width: 700px;
	text-align: center;

}

h1.titulo-1-1 {
  font-size: 200%;
  font-weight: 700;
  margin-top: 30px;
}

h2.titulo-2-2 {
  font-size: 120%;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 50px;
  line-height: 1.5em;
}

@-webkit-keyframes thumb {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
  }
}


#container404 img {
  -webkit-animation-name: thumb;
  -webkit-animation-duration: 1650ms;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}


.bienvenido {
	margin-top: 20px;
	margin-left: 100px;
	max-width: 950px;
	display: flex;
	flex-direction: row;
}

.bienvenido img {
	height: 420px;
}

.bienvenido-instrucciones {
	margin-top: 35px;
	margin-left: 120px;
}

.bienvenido-instrucciones h1 {
	font-family: 'Arimo', sans-serif;
	font-size: 45px;
	font-weight: bold;
	color: #1D2B3A;
}

.cuadro-datos {
	max-width: 700px;
	width: 660px;
	height: 200px;
	margin-top: 85px;
	display: flex;
	margin-left: -35px;
}

.dato-line {
	width: 3px;
	height: 75px;
	margin-top: 0px;
	background-color: #5E4AD7;

}

.valor-dato {
	width: 180px;
	height: 100px;
	margin-right: 25px;
	margin-left: 25px;
}

.dato-texto {
	font-family: 'Arimo', sans-serif;
	font-weight: bold;	
}
.linea-logo {
	position: relative;
	top: -35px;
	left: 170px;
	background-color: black;
	height: 36px;
	width: 5px;
}

.mostrar-negocio {
	max-width: 850px;
	height: 130px;
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 7px, rgba(0, 0, 0, 0.2) 0px 3px 7px;
	margin-left: 45px;
	margin-top: 15px;
}

.mostrar-nombre {
	margin-left: 25px;
	margin-top: 20px;
	font-family: 'Arimo', sans-serif;
	font-weight: bold;

}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}