<template name="cancelado">
				<div class="topbar">
					<img src="/logo-opcional2.png" alt="BUNQR" style="margin-top: 18.5px; margin-left: 30px;">
				</div>
				{{>menuCancelado}}
				<div class="contenedor-negocios">
					<div class="set-lista-negocios">
						<div class="negocio item-negocio almacen-stock ">
						<span class="negocio-item" style="text-align: center;">Dashboard</span>
						</div>	
					</div>
				</div>

				<div class="cuadro-main">
					<div class="bienvenido">
						<img src="/presentacion.png" alt="Bienvenido" galleryimg="no">
						<div class="bienvenido-instrucciones">	
						
						<h1>Lo sentimos, tu cuenta ha sido cancelada</h1>
							
						<blockquote>
  						<p><em>Si metes la pata no es culpa de tus padres ni de tus profesores, ni de tus hermanos, así que no lloriquees por tus errores y aprende de ellos.

						<strong> Bill Gates.</strong></em></p>
						</blockquote>

						</div>
					</div>
				</div>
</template>