<template name="crearUsuario">
	<div class="cuadro-reporte" style="height: 280px;">
	<div class="container">
		<div class="row" style="margin-top: 40px;">
			<div class="column">
				<label style="color: white;">Nombre</label>
    			<input type="text" placeholder="Ingresa su primer nombre" name="nombre">
    			<label style="color: white;">Email</label>
    			<input type="email" placeholder="Ingresa su email" name="email">
			</div>
  			<div class="column">
  				<label style="color: white;">Apellido</label>
    			<input type="text" placeholder="Ingresa su apellido" name="apellido">
    			<label style="color: white;">Contraseña</label>
    			<input type="password" placeholder="Ingresa su contraseña" name="password">
  			</div> 
  			<br>			
		</div>
		<div class="row">
			<div class="column">
				   <input type="button" class="agregar" id="boton-login" value="crear usuario">
			</div>
		</div>
	</div>
</div>
</template>


<template name="crearCliente">
	<div class="cuadro-reporte" style="height: 280px;">
	<div class="container">
		<div class="row" style="margin-top: 40px;">
			<div class="column">
				<label style="color: white;">Nombre</label>
    			<input type="text" placeholder="Ingresa su primer nombre" name="nombre">
    			<label style="color: white;">Email</label>
    			<input type="email" placeholder="Ingresa su email" name="email">
			</div>
  			<div class="column">
  				<label style="color: white;">Apellido</label>
    			<input type="text" placeholder="Ingresa su apellido" name="apellido">
    			<label style="color: white;">Contraseña</label>
    			<input type="password" placeholder="Ingresa su contraseña" name="password">
  			</div> 
  			<br>			
		</div>
		<div class="row">
			<div class="column">
				   <input type="button" class="agregar" id="boton-login" value="crear usuario">
			</div>
		</div>
	</div>
</div>
</template>


<template name="crearDistribuidor">
	<div class="cuadro-reporte" style="height: 280px;">
	<div class="container">
		<div class="row" style="margin-top: 40px;">
			<div class="column">
				<label style="color: white;">Nombre</label>
    			<input type="text" placeholder="Ingresa su primer nombre" name="nombre">
    			<label style="color: white;">Email</label>
    			<input type="email" placeholder="Ingresa su email" name="email">
			</div>
  			<div class="column">
  				<label style="color: white;">Apellido</label>
    			<input type="text" placeholder="Ingresa su apellido" name="apellido">
    			<label style="color: white;">Contraseña</label>
    			<input type="password" placeholder="Ingresa su contraseña" name="password">
  			</div> 
  			<br>			
		</div>
		<div class="row">
			<div class="column">
				   <input type="button" class="agregar" id="boton-login" value="crear distribuidor">
			</div>
		</div>
	</div>
</div>
</template>