<template name="dashboard">

	{{#if currentUser}}

		<div class="topbar">
			{{>topbar}}
		</div>
		<div class="contenido">
				{{>Template.dynamic template=content}}
		</div>
	<!-- Smartsupp Live Chat script -->
	<script type="text/javascript">
	var _smartsupp = _smartsupp || {};
	_smartsupp.key = '8c5db273cb25abfb9734355cdf81e7de56c270c8';
	window.smartsupp||(function(d) {
	  var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
	  s=d.getElementsByTagName('script')[0];c=d.createElement('script');
	  c.type='text/javascript';c.charset='utf-8';c.async=true;
	  c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
	})(document);
	</script>
	{{else}}
		{{>login}}
	{{/if}}
</template>

<template name="resporteDistribuidor">
		<div class="cuadro-reporte">

			<div class="row">
				<div class="col-md-3">
					<p class="valor-total-item">S/. {{pagado}}</p>
					<div class="texto" style="text-align: center; text-transform: uppercase;">Utilidad total</div>
				</div>
				<div class="col-md-3">
					<p class="valor-total-item">S/. {{pendiente}}</p>
					<div class="valor-texto" style="text-align: center; text-transform: uppercase;">P. pendiente</div>
				</div>
				<div class="col-md-3">
					<p class="valor-total-item">{{activos}}</p>
					<div class="valor-texto" style="text-align: center; text-transform: uppercase;">U. activos</div>
				</div>
				<div class="col-md-3">
					<p class="valor-total-item">{{cancelados}}</p>
					<div class="valor-texto" style="margin-left: 1px; text-align: center; text-transform: uppercase;">U. cancelados</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<p style="color: white; margin-left: 100px; margin-top: 30px;">Link de referido: https://www.bunqr.pw/signup/{{link}}</p>
				</div>
			</div>
		</div>
</template>
