<template name="dashboard">

	{{#if currentUser}}

		{{#if isInRole 'administrador'}}

		<div class="topbar">
			{{>topbar}}
		</div>
		<div class="contenido">


		<!--{{#unless currentUser.emails.[0].verified}}
			{{>menuPrincipal}}
   		 		<div class="contenedor-negocios">
					<div class="set-lista-negocios">
						<div class="negocio">
							<span class="negocio-item" style="text-align: center;">Verifica tu email
							</span>
						</div>
					</div>
				</div>
				<div class="cuadro-main">
					<div class="bienvenido">
						<img src="/presentacion.png" alt="Bienvenido" galleryimg="no">
						<div class="bienvenido-instrucciones">
						<blockquote>
  						<p><em>De vez en cuando aparece un producto revolucionario que lo cambia todo. Uno es muy afortunado si puede trabajar en sólo uno de estos en su carrera. <strong>Steve Jobs.</strong></em></p>
						</blockquote>
						<button id="boton-login">Verifica tu email</button>
						</div>
					</div>
				</div>

				{{else}}
				{{>menuPrincipal}}
				{{>Template.dynamic template=content}}


  			{{/unless}} -->
				
				{{>Template.dynamic template=content}}

		</div>

		{{else}}
			{{#if isInRole 'fundador'}}
			<div class="topbar">
				<img src="/logo-opcional2.png" alt="BUNQR" style="margin-top: 18.5px; margin-left: 30px;">
				<div class="linea-logo"></div>
						<h5 style="color: black; position: relative; top: -63px; left: 185px; font-weight: bold; font-size: 15px;">GROUP</h5>
			</div>
			<div class="contenido">
				{{>menuAdmin}}

				{{>admin}}
			</div>
				{{else}}

				{{#if isInRole 'cancelado'}}
					<div class="contenido">
						{{>cancelado}}
					</div>
				{{/if}}

				{{#if isInRole 'distribuidor'}}
					<div class="topbar">
						<img src="/logo-opcional2.png" alt="BUNQR" style="margin-top: 18.5px; margin-left: 30px;">
						<div class="linea-logo"></div>
						<h5 style="color: black; position: relative; top: -63px; left: 185px; font-weight: bold; font-size: 15px;">NETWORK</h5>
					</div>
					{{>menuDistribuidor}}
					<div class="contenedor-negocios">
						<div class="set-lista-negocios">
							<div class="negocio item-negocio almacen-stock ">
								<span class="negocio-item" style="text-align: center;">Backoffice</span>
							</div>
						</div>
					</div>





				<div class="cuadro-main">
				{{>resporteDistribuidor}}
					<div class="bienvenido">
						<img src="/presentacion.png" alt="Bienvenido" galleryimg="no">
						<div class="bienvenido-instrucciones">

						<h1>Bienvenido.</h1>

						<blockquote>
  						<p><em>Si metes la pata no es culpa de tus padres ni de tus profesores, ni de tus hermanos, así que no lloriquees por tus errores y aprende de ellos.

						<strong> Bill Gates.</strong></em></p>
						</blockquote>

						</div>
					</div>
				</div>
				{{/if}}


			{{/if}}
		{{/if}}
	{{else}}
		{{>login}}
	{{/if}}
</template>

<template name="resporteDistribuidor">
		<div class="cuadro-reporte">

			<div class="row">
				<div class="col-md-3">
					<p class="valor-total-item">S/. {{pagado}}</p>
					<div class="texto" style="text-align: center; text-transform: uppercase;">Utilidad total</div>
				</div>
				<div class="col-md-3">
					<p class="valor-total-item">S/. {{pendiente}}</p>
					<div class="valor-texto" style="text-align: center; text-transform: uppercase;">P. pendiente</div>
				</div>
				<div class="col-md-3">
					<p class="valor-total-item">{{activos}}</p>
					<div class="valor-texto" style="text-align: center; text-transform: uppercase;">U. activos</div>
				</div>
				<div class="col-md-3">
					<p class="valor-total-item">{{cancelados}}</p>
					<div class="valor-texto" style="margin-left: 1px; text-align: center; text-transform: uppercase;">U. cancelados</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<p style="color: white; margin-left: 100px; margin-top: 30px;">Link de referido: https://www.bunqr.pw/signup/{{link}}</p>
				</div>
			</div>
		</div>
</template>
