<template name="DistribuidorSignup">
	<div class="contenedor">
		<div class="container">
		<div class="row">
				<div class="column column-50 column-offset-25">
				<div class="set-singup" style="margin-top: 75px;">
					<h2 class="ingresa">
							<img src="/logo-opcional3.png" alt="BUNQR">
						</h2>
						<p class="registro-none" style="margin-left: 126px; margin-top: 2px; margin-bottom: 3.2px;">Ventas | Productos | Stock</p>

						<div class="cuadro-2 center">
						<br>
    				<form id="signup">
  						<fieldset>
    						<input type="text" placeholder="¿Cual es tu nombre?" class="formulario" name="nombre" id="input-login">
    						<input type="text" placeholder="¿Tu apellido es?" class="formulario" name="apellido" id="input-login">
    						
    						<input type="email" placeholder="¿Y tu email?" class="formulario" name="emailAddress" id="input-login">	
    						<input type="password" placeholder="Ingresa una contraseña" class="formulario" name="password" id="input-login">
    						<br>
    						<input class="button-primary boton-formulario" type="submit" value="¡Listo!"  id="boton-login">
  						</fieldset>
					</form>		
					<p class="registro-none">¿Ya tienes una cuenta? <a href="/login" style="color: #3F51B5;">Ingresa.</a></p>
    				</div>
    				<br>
				</div>
    				
    			</div>
		</div>
	</div>		
	</div>
</template>