<template name="login">

	<div class="contenedor" id="fondo-ejecutivo">
	<div class="container">
		
				
					<div class="set-login">
						<h2 class="ingresa">
							<a href="/"><img src="/logo-opcional3.png" alt="BUNQR"></a>
						</h2>
						<p class="registro-none" style="margin: 2.5px auto; width: 80%; text-align: center;">Ventas | Productos | Stock</p>
						<br>
						<div class="cuadro-2 center">
    						<form id="login">
  								<fieldset>
    								<input type="email" placeholder="Ingresa tu Email" class="formulario" name="emailAddress" id="input-login">	
    								<input type="password" placeholder="Ingresa tu contraseña" class="formulario" name="password" id="input-login">
    								<br>
    								<input class="button-primary boton-formulario" type="submit" id="boton-login" value="Ingresar">
  								</fieldset>
							</form>
							<p class="registro-none">¿No tienes una cuenta? <a href="/signup" style="color: #3F51B5;">Registrate.</a></p>
    					</div>	
					</div>
    				
    			
			
				
		
	</div>
	</div>
	
</template>