<template name="signup">

	<div class="contenedor">
		<div class="container">
		
				
				<div class="set-singup">
					<h2 class="ingresa">
							<a href="/"><img src="/logo-opcional3.png" alt="BUNQR"></a>
						</h2>
						<p class="registro-none" style="margin: 2px auto; width: 80%; text-align: center;">Ventas | Productos | Stock</p>

						<div class="cuadro-2 center">
						<br>
    				<form id="signup">
  						<fieldset>
    						<input type="text" placeholder="¿Cual es tu nombre?" class="formulario" name="nombre" id="input-login">
    						<input type="text" placeholder="¿Cual es tu apellido?" class="formulario" name="apellido" id="input-login">
    						<input type="text" placeholder="¿Como se llama tu negocio?" class="formulario" name="empresa" id="input-login">
    						
    						<input type="email" placeholder="¿Cual es tu email?" class="formulario" name="emailAddress" id="input-login">	
    						<input type="password" placeholder="Ingresa una contraseña" class="formulario" name="password" id="input-login">
    						<br>
    						<input class="button-primary boton-formulario" type="submit" value="¡Listo!"  id="boton-login">
  						</fieldset>
					</form>		
					<p class="registro-none">¿Ya tienes una cuenta? <a href="/login" style="color: #3F51B5;"> Ingresa.</a></p>
    				</div>
    				<br>
				</div>
    				
    			
	</div>		
	</div>
	
</template>