<template name="reporteDiario">
	{{#if Template.subscriptionsReady}}

	{{#with reportes}}
	<div class="cuadro-reporte">
			<div class="cuadro-total">
				<div class="line"></div>
				<div class="valor-total">
					<p>S/. {{utilidad}}</p>
					<div class="texto">UTILIDAD TOTAL</div>
				</div>
			</div>
			<div class="cuadro-valores">
				<div class="valor">
					<p class="valor-total-item">S/. {{venta}}</p>
					<div class="valor-texto">VENTAS TOTAL</div>
				</div>
				<div class="valor-line"></div>
				<div class="valor">
					<p class="valor-total-item">S/. {{costo}}</p>
					<div class="valor-texto">COSTO TOTAL</div>
				</div>
				<div class="valor-line"></div>
				<div class="valor">
					<p class="valor-total-item">S/. {{merma}}</p>
					<div class="valor-texto" style="margin-left: 1px;">VALOR MERMA</div>
				</div>
				<div class="valor-line"></div>
				<div class="valor">
					<p class="valor-total-item">S/. {{compra}}</p>
					<div class="valor-texto">COMPRAS TOTAL</div>
				</div>
			</div>
		</div>
	{{/with}}

	{{else}}
	
	<div class="cuadro-reporte">
			<div class="cuadro-total">
				<div class="line"></div>
				<div class="valor-total">
					<p>S/. {{>loader}}</p>
					<div class="texto">UTILIDAD TOTAL</div>
				</div>
			</div>
			<div class="cuadro-valores">
				<div class="valor">
					<p class="valor-total-item">S/. {{>loader}}</p>
					<div class="valor-texto">VENTAS TOTAL</div>
				</div>
				<div class="valor-line"></div>
				<div class="valor">
					<p class="valor-total-item">S/. {{>loader}}</p>
					<div class="valor-texto">COSTO TOTAL</div>
				</div>
				<div class="valor-line"></div>
				<div class="valor">
					<p class="valor-total-item">S/. {{>loader}}</p>
					<div class="valor-texto" style="margin-left: 1px;">VALOR MERMA</div>
				</div>
				<div class="valor-line"></div>
				<div class="valor">
					<p class="valor-total-item">S/. {{>loader}}</p>
					<div class="valor-texto">COMPRAS TOTAL</div>
				</div>
			</div>
	</div>

	{{/if}}
</template>